//Layout - styles for all layout and or grid system

.wrapper {
  height: 100%;
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.grid-search {
  display: table;
  min-height: 90vh;
  width: 100%;
}

.grid-search-item {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.grid {
	@include clearfix;
	margin-left: -10px;
}

.col {
	box-sizing: border-box;
	float: left;
	min-height: 1px;
	width: 100%;
  padding-left: 10px;
	@include respond-to-min($med) {
		margin-bottom: 0;
	}
}

@include widths(12);

.col {
  width: 50%;
	@include respond-to-min($med) {
    width: 25%;
  }
  @include respond-to-min($large) {
    width: 12.5%;
  }
}
