// social icons

.social {
  text-align: center;
  margin-bottom: 20px;
}

.icon {
  width: 60px;
  height: 60px;
  display: inline-block;
  vertical-align: middle;
  & svg {
    width: 100%;
    fill: $c-icon-color;
  }
  &:hover {
    & svg {
      fill: $c-icon-color-hover;
    }
  }
}

.icon--twitter {
  svg {
    fill: $c-icon-color;
  }
}

.icon--github {
  width: 50px;
  height: 50px;
}
