{{> header }}
	<!-- start site markup -->
	<div class="wrapper">
		<div class="site-title">
			<h1 class="search-title"><a href="/">Colour Analyser</a></h1>
		</div>
	</div>
	<article class="color-article">
		<h2 class="title-primary">Colour Analyser has found
			<span class="title-primary__sub">
				<span class="title-primary__colours-count">{{colorCount}}
					<span class="title-primary__colours-text">colours</span>
			</span>
		</h2>
		<div class="leaderboard__cta">
			<a href="/leaderboard/all" class="btn leaderboard__link">View the leaderboard</a>
		</div>
		<div class="search-again">
			{{> search/search url=site}}
		</div>
		<div class="color-list grid">
			{{#each colorArray}}
				<div class="col">
					<div class="color-item">
						<span class="color-item__color" style="background-color: {{this}};"></span><span class="color-item__title">{{this}}</span>
					</div>
				</div>
			{{/each}}
		</div>


	</article>
	<!-- / end site markup -->

{{>footer}}
