{{> header }}
	<!-- start site markup -->
	<div class="wrapper">
		<article class="grid-search">
		  <div class=" grid-search-item">
				<h1 class="search-title">Colour Analyser</h1>
        <h2 class="search--sub-title">Find your site's colour palette.</h2>
        <p>See all the colours referenced in all CSS files on your site.</p>
				{{> search/search }}
				<p>This tool is in beta and may not be 100% representative of ALL the colours used on your site.  It identifies all CSS files referenced in the HTML document of a page to pick out the CSS colours.</p>
		    <p>Sites with multiple / large CSS files may take longer to load.</p>
		  </div>
		</article>
	</div>
	<!-- / end site markup -->

{{> footer }}
