{{> header }}
	<!-- start site markup -->
	<div class="wrapper">
		<div class="site-title">
			<h1 class="search-title"><a href="/">Colour Analyser</a></h1>
		</div>
	</div>
	<article class="color-article">
		<div class="search-again">
			{{> search/search url=site}}
		</div>
		<div class="color-table">
      <table class="color-table__table">
        <thead>
          <tr>
            <th class="color-table__heading color-table__site-name">Site</th>
            <th class="color-table__heading color-table__color">Colours</th>
            <th class="color-table__heading color-table__submitter">Name</th>
          </tr>
        </thead>
        <tbody>
			{{#each results}}
				 <tr>
           <td class="color-table__td color-table__site-name">{{site}}</td>
           <td class="color-table__td color-table__color">{{colorTotal}}</td>
           <td class="color-table__td color-table__submitter">{{leaderboardName}}</td>
         </tr>
			{{/each}}
    </tbody>
  </table>
		</div>


	</article>
	<!-- / end site markup -->

{{>footer}}
