/* ============================================================ *
  #MAIN

  Site:   Basic Node Site
  Author: Andrew Brandwood

/* ============================================================ */
/**
* CONTENTS
* 
* _SETTINGS
* Layout these are 'em' widths based on default font size of 16px;
* Variables for colors
* Global variables
* 
* _TOOLS
* Common Sass mixins
* Common Sass functions
* Font declarations and settings
* 
* _GENERIC
* Box-sizing
* Normalize - sets all elements to a common state regardless of browser.
* Reset - resets all margin and padding to 0
* 
* _ELEMENTS
*  forms
*  generic
* links - styles for links
* 
* _OBJECTS
*  buttons
* Layout - styles for all layout and or grid system
* 
* _PARTIALS
* color block
* 
* COLOR-TABLE
* color table
* 
* NAVIGATION-PRIMARY
* Navigation primary - styles for primary navigation
* 
* SEARCH
* search
* 
* SOCIAL
*  social icons
* 
* _TRUMPS
* helpers
*
*/
/* Mixin to drop micro clearfix into a selector. .simple-usage { @include clearfix(); } .detailed-usage { @include clearfix(important); } */
/* Column widths as the lowest expression of a fraction e.g. 1/3 instead of 2/6. class="col--1\/3" usage @include cols(12) will produce styles for all fractions of 12 */
html { -webkit-box-sizing: border-box; box-sizing: border-box; }

*, *:before, *:after { -webkit-box-sizing: inherit; box-sizing: inherit; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/** 1. Set default font family to sans-serif. 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html { font-family: sans-serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }

/** Remove default margin. */
body { margin: 0; }

/* HTML5 display definitions ========================================================================== */
/** Correct `block` display not defined for any HTML5 element in IE 8/9. Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox. Correct `block` display not defined for `main` in IE 11. */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/** 1. Correct `inline-block` display not defined in IE 8/9. 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera. */
audio, canvas, progress, video { display: inline-block; /* 1 */ vertical-align: baseline; /* 2 */ }

/** Prevent modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */
audio:not([controls]) { display: none; height: 0; }

/** Address `[hidden]` styling not present in IE 8/9/10. Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22. */
[hidden], template { display: none; }

/* Links ========================================================================== */
/** Remove the gray background color from active links in IE 10. */
a { background-color: transparent; }

/** Improve readability when focused and also mouse hovered in all browsers. */
a:active, a:hover { outline: 0; }

/* Text-level semantics ========================================================================== */
/** Address styling not present in IE 8/9/10/11, Safari, and Chrome. */
abbr[title] { border-bottom: 1px dotted; }

/** Address style set to `bolder` in Firefox 4+, Safari, and Chrome. */
b, strong { font-weight: bold; }

/** Address styling not present in Safari and Chrome. */
dfn { font-style: italic; }

/** Address variable `h1` font-size and margin within `section` and `article` contexts in Firefox 4+, Safari, and Chrome. */
h1 { font-size: 2em; margin: 0.67em 0; }

/** Address styling not present in IE 8/9. */
mark { background: #ff0; color: #000; }

/** Address inconsistent and variable font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

/* Embedded content ========================================================================== */
/** Remove border when inside `a` element in IE 8/9/10. */
img { border: 0; }

/** Correct overflow not hidden in IE 9/10/11. */
svg:not(:root) { overflow: hidden; }

/* Grouping content ========================================================================== */
/** Address margin not present in IE 8/9 and Safari. */
figure { margin: 1em 40px; }

/** Address differences between Firefox and other browsers. */
hr { -webkit-box-sizing: content-box; box-sizing: content-box; height: 0; }

/** Contain overflow in all browsers. */
pre { overflow: auto; }

/** Address odd `em`-unit font size rendering in all browsers. */
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

/* Forms ========================================================================== */
/** Known limitation: by default, Chrome and Safari on OS X allow very limited styling of `select`, unless a `border` property is set. */
/** 1. Correct color not being inherited. Known issue: affects color of disabled elements. 2. Correct font properties not being inherited. 3. Address margins set differently in Firefox 4+, Safari, and Chrome. */
button, input, optgroup, select, textarea { color: inherit; /* 1 */ font: inherit; /* 2 */ margin: 0; /* 3 */ }

/** Address `overflow` set to `hidden` in IE 8/9/10/11. */
button { overflow: visible; }

/** Address inconsistent `text-transform` inheritance for `button` and `select`. All other form control elements do not inherit `text-transform` values. Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera. Correct `select` style inheritance in Firefox. */
button, select { text-transform: none; }

/** 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. 2. Correct inability to style clickable `input` types in iOS. 3. Improve usability and consistency of cursor style between image-type `input` and others. */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ }

/** Re-set default cursor for disabled elements. */
button[disabled], html input[disabled] { cursor: default; }

/** Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/** Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
input { line-height: normal; }

/** It's recommended that you don't attempt to style these elements. Firefox's implementation doesn't respect box-sizing, padding, or width. 1. Address box sizing set to `content-box` in IE 8/9/10. 2. Remove excess padding in IE 8/9/10. */
input[type="checkbox"], input[type="radio"] { -webkit-box-sizing: border-box; box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** Fix the cursor style for Chrome's increment/decrement buttons. For certain `font-size` values of the `input`, it causes the cursor style of the decrement button to change from `default` to `text`. */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

/** 1. Address `appearance` set to `searchfield` in Safari and Chrome. 2. Address `box-sizing` set to `border-box` in Safari and Chrome (include `-moz` to future-proof). */
input[type="search"] { -webkit-appearance: textfield; /* 1 */ -webkit-box-sizing: content-box; /* 2 */ box-sizing: content-box; }

/** Remove inner padding and search cancel button in Safari and Chrome on OS X. Safari (but not Chrome) clips the cancel button when the search input has padding (and `textfield` appearance). */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** Define consistent border, margin, and padding. */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/** 1. Correct `color` not being inherited in IE 8/9/10/11. 2. Remove padding so people aren't caught out if they zero out fieldsets. */
legend { border: 0; /* 1 */ padding: 0; /* 2 */ }

/** Remove default vertical scrollbar in IE 8/9/10/11. */
textarea { overflow: auto; }

/** Don't inherit the `font-weight` (applied by a rule above). NOTE: the default cannot safely be changed in Chrome and Safari on OS X. */
optgroup { font-weight: bold; }

/* Tables ========================================================================== */
/** Remove most spacing between table cells. */
table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul, form, fieldset, legend, figure, table, th, td, caption, hr { margin: 0; padding: 0; }

fieldset { border: none; padding: 0; margin: 0; }

html { background: -webkit-gradient(linear, left bottom, left top, from(#34e89e), to(#0f3443)); background: linear-gradient(to top, #34e89e, #0f3443); background-size: cover; }

body { color: #ffffff; min-height: 100vh; font-family: 'Cabin', sans-serif; font-weight: normal; }

p { margin: 20px 0; }

a { color: #34e89e; text-decoration: none; }

a:hover { text-decoration: underline; }

a:visited { color: #34e89e; }

.btn { padding: 20px; color: #fff; background-color: #34e89e; border-radius: 5px; }

.btn:hover { background-color: #18d185; }

.wrapper { height: 100%; max-width: 800px; width: 90%; margin: 0 auto; overflow: hidden; }

.grid-search { display: table; min-height: 90vh; width: 100%; }

.grid-search-item { display: table-cell; vertical-align: middle; text-align: center; }

.grid { margin-left: -10px; }

.grid:after { content: ""; display: table; clear: both; }

.col { -webkit-box-sizing: border-box; box-sizing: border-box; float: left; min-height: 1px; width: 100%; padding-left: 10px; }

@media screen and (min-width: 42.5em) { .col { margin-bottom: 0; } }

.col--1\/12 { width: 8.33333%; }

.col--1\/6 { width: 16.66667%; }

.col--1\/4 { width: 25%; }

.col--1\/3 { width: 33.33333%; }

.col--5\/12 { width: 41.66667%; }

.col--1\/2 { width: 50%; }

.col--7\/12 { width: 58.33333%; }

.col--2\/3 { width: 66.66667%; }

.col--3\/4 { width: 75%; }

.col--5\/6 { width: 83.33333%; }

.col--11\/12 { width: 91.66667%; }

.col { width: 50%; }

@media screen and (min-width: 42.5em) { .col { width: 25%; } }

@media screen and (min-width: 60em) { .col { width: 12.5%; } }

.color-list { background: rgba(0, 0, 0, 0.5); padding: 10px 10px 10px 0; margin-bottom: 40px; margin-left: auto; margin-right: auto; width: 90%; }

.color-item { padding: 10px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.color-item__color { display: block; height: 60px; border-radius: 3px 3px 0 0; }

.color-item__title { padding: 10px 5px; background-color: rgba(0, 0, 0, 0.2); color: #fff; display: block; width: 100%; border-radius: 0 0 3px 3px; }

.color-article { max-width: 1200px; margin: 0 auto; min-height: 70vh; }

.title-primary { text-align: center; margin: 20px 0 40px; font-weight: normal; }

.title-primary__colours-text { display: block; font-size: 18px; margin-top: -8px; }

.title-primary__colours-count { display: block; text-align: center; margin: 10px auto; font-size: 40px; border-radius: 100%; width: 100px; height: 100px; padding-top: 15px; -webkit-box-sizing: border-box; box-sizing: border-box; background-color: rgba(0, 0, 0, 0.5); }

.leaderboard__cta { text-align: center; margin: 20px auto; }

.leaderboard__link { display: inline-block; }

.color-table { width: 90%; margin: 20px auto; }

.color-table__table { width: 100%; text-align: left; border-bottom: 50px solid rgba(0, 0, 0, 0.4); }

.color-table thead tr:nth-child(odd) { background-color: rgba(0, 0, 0, 0.4); }

.color-table tr:nth-child(even) { background-color: rgba(0, 0, 0, 0.2); }

.color-table__heading, .color-table__td { padding: 20px; }

.navigation-primary { background: #e5e5e5; }

.navigation-primary__link { display: inline-block; padding: 20px; }

.search-input { font-size: 20px; padding: 40px; color: #ffffff; border: 0; width: 100%; text-align: center; background-color: rgba(0, 0, 0, 0.5); }

.search-input::-webkit-input-placeholder { color: #e5e5e5; }

.search-input:focus::-webkit-input-placeholder { color: transparent; }

@media screen and (min-width: 42.5em) { .search-input { font-size: 40px; } }

.search-title { font-weight: normal; font-size: 40px; margin: 40px 0 0 0; text-align: center; }

@media screen and (min-width: 42.5em) { .search-title { font-size: 60px; } }

.search--sub-title { font-size: 20px; margin: 0 0 20px 0; font-weight: normal; }

@media screen and (min-width: 42.5em) { .search--sub-title { font-size: 30px; } }

.search-again { width: 90%; margin-left: auto; margin-right: auto; }

.social { text-align: center; margin-bottom: 20px; }

.icon { width: 60px; height: 60px; display: inline-block; vertical-align: middle; }

.icon svg { width: 100%; fill: #ffffff; }

.icon:hover svg { fill: rgba(0, 0, 0, 0.5); }

.icon--twitter svg { fill: #ffffff; }

.icon--github { width: 50px; height: 50px; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
