// generic

html {
  background: linear-gradient(to top, rgb(52, 232, 158), rgb(15, 52, 67));
  background-size: cover;
}

body {
  color: $c-body;
  min-height: 100vh;
  font-family: 'Cabin', sans-serif;
  font-weight: normal;
}

p {
  margin: 20px 0;
}
