
    <form action="/colors/" method="GET">
      <fieldset class="search">
        <legend class="visuallyhidden">Webpage url</legend>
        <label class="visuallyhidden">Insert a webpage url</label>
        <input type="text" id="remoteUrl" name="remoteUrl" class="search-input" placeholder="www.yourdomain.com" value="{{url}}"  />
        <h2>Enter your name to submit to leaderboad</h2>
        <label class="visuallyhidden">Name:</label>
        <input class="search-input leaderboard-name__input" type="text" name="leaderboard-name" id="leaderboard-name" placeholder="your name" value="{{leaderboardName}}"/>
        <button type="submit" class="search-submit visuallyhidden">Check colours</button>
      </fieldset>
    </form>
