//search

.search-input {
  font-size: 20px;
  padding: 40px;
  color: $c-search-input;
  border: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,.5);

  &::-webkit-input-placeholder {
    color: $c-search-input-placeholder;
  }
  &:focus::-webkit-input-placeholder {
      color: transparent;
  }

  @include respond-to-min($med){
      font-size: 40px;
  }

}



.search-title {
  font-weight: normal;

  font-size: 40px;
  margin: 40px 0 0 0;
  text-align: center;
  @include respond-to-min($med){
      font-size: 60px;
  }
}

.search--sub-title {
  font-size: 20px;
  margin: 0 0 20px 0;
  font-weight: normal;
  @include respond-to-min($med){
      font-size: 30px;
  }
}

.search-again {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
