//color block

.color-list {
	background: $c-color-list-bg;
	padding: 10px 10px 10px 0;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.color-item {
	padding: 10px;
	box-sizing: border-box;
}
.color-item__color {
	display: block;
	height: 60px;
	border-radius: 3px 3px 0 0;
}
.color-item__title {
	padding: 10px 5px;
	background-color: rgba(0,0,0,.2);
	color: #fff;
	display: block;
	width: 100%;
	border-radius: 0 0 3px 3px;
}

.color-article {
  max-width: 1200px;
  margin: 0 auto;
	min-height: 70vh;
}
.title-primary {
	text-align: center;
	margin: 20px 0 40px;
	font-weight: normal;
}

.title-primary__colours-text {
	display: block;
	font-size: 18px;
	margin-top: -8px;
}
.title-primary__colours-count {
	display: block;
	text-align: center;
	margin: 10px auto;
	font-size: 40px;
	border-radius: 100%;
	width: 100px;
	height: 100px;
	padding-top: 15px;
	box-sizing: border-box;
	background-color: $c-color-list-bg;
}

.leaderboard__cta {
	text-align: center;
	margin: 20px auto;
}

.leaderboard__link {
	display: inline-block;
}
