
		<div class="wrapper">
			<div class="social">
				<a href="https://twitter.com/_branny" class="icon icon--twitter" title="follow me on twitter" target="_blank">
					{{> social/twitter }}
				</a>
				<a href="https://github.com/andrewbrandwood" class="icon icon--github" title="follow me on github" target="_blank">
					{{> social/github }}
				</a>
			</div>
		</div>

		<!-- add scripts here -->
		<script src="/_client/scripts/vendor-bundle.js"></script>
		<script src="/_client/scripts/bundle.js"></script>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-99035783-1', 'auto');
		  ga('send', 'pageview');

		</script>

	</body>
</html>
