<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Colour Analyser</title>
		<link rel="stylesheet" href="/_client/styles/main.css" />
		<meta name="description" content="Colour finder is a little tool that analyses your site or page CSS content and generated all the colours it identifies">
		<meta name="keywords" content="Styleguide, style-guide, style guide, CSS, colour, color">
		<meta name="author" content="Andrew Brandwood">
		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
			{{> opengraph/opengraph }}
  		<link rel="icon" type="image/png" href="/_client/images/favicon.png" />
			<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
	</head>
	<body>
