//Variables for colors

$c-white:         #ffffff;
$c-blue:          #07263a;
$c-grey: 					#e5e5e5;
$c-dark:					#373737;
$c-dark-blue:				#006699;

$c-navigation-primary-bg: 	$c-grey;
$c-links:					rgb(52, 232, 158);

$c-links-visited:			rgb(52, 232, 158);

$c-body: $c-white;
$c-search-input: $c-white;
$c-search-input-placeholder: $c-grey;

$c-colour-item__title:  $c-blue;
$c-color-list-bg: rgba(0,0,0,.5);

$c-icon-color: $c-white;
$c-icon-color-hover: rgba(0,0,0,.5);
