@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

ins {
  background-color: #ffff99;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ffff99;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ececec;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  font-size: 1em;
  -webkit-text-size-adjust: 1em;
  -ms-text-size-adjust: 1em;
  font-family: sans-serif; }

select, input, textarea, button {
  font: 99% sans-serif; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

html {
  overflow-y: scroll; }

a:hover, a:active {
  outline: none; }

ul, ol {
  margin-left: 2em; }

ol {
  list-style-type: decimal; }

nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none; }

small {
  font-size: 85%; }

strong, th {
  font-weight: bold; }

td {
  vertical-align: top; }

p {
  margin: 10px 0; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px; }

textarea {
  overflow: auto; }

.ie6 legend, .ie7 legend {
  margin-left: -7px; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer; }

button, input, select, textarea {
  margin: 0; }

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red; }

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd; }

::-moz-selection {
  background: #ef4135;
  color: #FFF;
  text-shadow: none; }

::selection {
  background: #ef4135;
  color: #FFF;
  text-shadow: none; }

a:link {
  -webkit-tap-highlight-color: transparent; }

button {
  width: auto;
  overflow: visible; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

.ie7 header.top .logo a {
  width: 240px; }

@font-face {
  font-family: 'ProximaNova-SemiBold';
  src: url("/fonts/proximanova-sbold-webfont.eot");
  src: url("/fonts/proximanova-sbold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/proximanova-sbold-webfont.woff") format("woff"), url("/fonts/proximanova-sbold-webfont.ttf") format("truetype"), url("/fonts/proximanova-sbold-webfont.svg#webfont") format("svg"); }
@font-face {
  font-family: 'ProximaNova-ExtraBold';
  src: url("/fonts/proximanova-xbold-webfont.eot");
  src: url("/fonts/proximanova-xbold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/proximanova-xbold-webfont.woff") format("woff"), url("/fonts/proximanova-xbold-webfont.ttf") format("truetype"), url("/fonts/proximanova-xbold-webfont.svg#webfont") format("svg"); }
@font-face {
  font-family: 'ProximaNova-Light';
  src: url("/fonts/proximanova-light-webfont.eot");
  src: url("/fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/proximanova-light-webfont.woff") format("woff"), url("/fonts/proximanova-light-webfont.ttf") format("truetype"); }
@font-face {
  font-family: 'Gudea';
  src: url("/fonts/gudea-regular-webfont.eot");
  src: url("/fonts/gudea-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/gudea-regular-webfont.woff") format("woff"), url("/fonts/gudea-regular-webfont.ttf") format("truetype"), url("/fonts/gudea-regular-webfont.svg#webfont") format("svg"); }
@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon.eot");
  src: url("/fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("/fonts/icomoon.woff") format("woff"), url("/fonts/icomoon.ttf") format("truetype"), url("/fonts/icomoon.svg#webfont") format("svg"); }
/* Fonts 
 ========================================== */
.webfont-a {
  font-family: 'ProximaNova-SemiBold', Arial, sans-serif;
  font-weight: normal; }

.webfont-b {
  font-family: 'ProximaNova-ExtraBold', Arial, sans-serif;
  font-weight: normal; }

.webfont-c {
  font-family: 'ProximaNova-Light', Arial, sans-serif;
  font-weight: normal; }

[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1; }

/* Layout & HTML base styles
 ========================================== */
body, select, input, textarea {
  color: #444444; }

a, .a {
  color: #ef4135;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

body {
  background: #000;
  font-size: 1em;
  font-family: 'Gudea', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%; }

html > body {
  font-size: 16px; }

p, li {
  line-height: 1.5;
  font-size: 1em;
  margin: 0 0 1em; }

h1, .h1 {
  font-size: 2em;
  line-height: 1.25;
  margin: 0 0 0.57em;
  letter-spacing: -2px;
  font-family: 'ProximaNova-Light', Arial, sans-serif; }

h2, h3 {
  font-size: 1.25em;
  line-height: 1.25;
  letter-spacing: -1px;
  margin: 1.25em 0 0.75em;
  font-family: 'ProximaNova-SemiBold', Arial, sans-serif; }

em, p > em {
  font-weight: 400;
  font-style: italic; }

strong, p > strong {
  font-weight: 700; }

small, .small {
  font-size: 0.875em;
  margin-top: 10px; }

.container {
  background: #f6f6f6;
  position: relative;
  left: 0;
  z-index: 10;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 3px 4px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 4px 5px 2px rgba(0, 0, 0, 0.2); }

.nav-open .container {
  -webkit-transform: translateZ(0);
  -moz-transform: translateX(-270px);
  -webkit-transform: translateX(-270px);
  -o-transform: translateX(-270px);
  -ms-transform: translateX(-270px);
  transform: translateX(-270px); }

.main {
  min-height: 480px;
  padding-top: 51px;
  background: #FFF;
  -webkit-backface-visibility: hidden; }

.no-js .nav-indicator {
  display: none; }

.no-js .logo {
  border-right: 0; }

.no-js .top-inner {
  border-bottom: 1px solid #FFF;
  border-color: rgba(255, 255, 255, 0.7); }

.top {
  width: 100%; }

.top-inner {
  background: #ef4135;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  height: 51px; }

/* Grid 
============================================ */
.grid-container, .row {
  clear: both;
  position: relative;
  overflow: hidden; }

.grid {
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.grid-1 {
  width: 50%; }

.grid-2, .grid-3, .grid-4, .grid-5, .grid-6 {
  width: 100%; }

.grid-item {
  overflow: hidden; }

.grid-empty article {
  min-height: 320px;
  background: url(../images/global/heart.png) 50% 50% no-repeat;
  background-size: 34px 29px; }

/* responsive grid */
.rgrid {
  position: relative; }

.rgrid-container {
  background: #f6f6f6; }

.rgrid .article-thumb > a,
.rgrid .article-thumb .inner {
  color: #444444;
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  border: 1px solid #ececec;
  border-top: 0;
  border-left: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

.rgrid .article-thumb .inner {
  border: 0; }

.rgrid .image-container {
  overflow: hidden;
  position: relative; }

/* Form styles 
============================================ */
input, textarea {
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-border-radius: 0; }

fieldset {
  min-width: 100%; }

input[type="text"],
input[type="email"],
input[type="search"] {
  border: none; }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="search"]:focus {
  outline: none; }

.frow {
  margin-bottom: 8px; }

.frow-action {
  text-align: left;
  margin: 16px 0 30px; }

.frow-textfield input {
  padding: 15px 10px; }

.frow-textarea textarea {
  padding: 15px 10px; }

.ie7 label {
  display: block;
  width: auto;
  height: auto;
  position: static;
  margin-bottom: 10px; }

.frow-action {
  text-align: right; }

.frow-textfield input {
  background: #ececec;
  width: 100%; }

::-webkit-input-placeholder {
  color: #444444;
  font-family: 'Gudea'; }

:-moz-placeholder {
  color: #444444;
  font-family: 'Gudea'; }

::-moz-placeholder {
  color: #444444;
  font-family: 'Gudea'; }

:-ms-input-placeholder {
  color: #444444;
  font-family: 'Gudea'; }

.alt-form ::-webkit-input-placeholder {
  color: #FFF;
  font-family: 'Gudea'; }

.alt-form :-moz-placeholder {
  color: #FFF;
  font-family: 'Gudea'; }

.alt-form ::-moz-placeholder {
  color: #FFF;
  font-family: 'Gudea'; }

.alt-form :-ms-input-placeholder {
  color: #FFF;
  font-family: 'Gudea'; }

input[type="text"].error,
input[type="email"].error,
input[type="search"].error {
  color: #ef4135;
  -moz-box-shadow: inset 0 0 2px 2px #ef4135;
  -webkit-box-shadow: inset 0 0 2px 2px #ef4135;
  box-shadow: inset 0 0 2px 2px #ef4135; }

.file-upload {
  margin-top: -19px;
  position: relative;
  overflow: hidden;
  min-height: 50px; }

.file-upload input {
  color: #FFF;
  font-family: 'Gudea';
  margin-top: 19px; }

.file-upload .btn {
  padding: 15px 25px; }

.upload-cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #2f2f2f; }

.upload-cover.reveal {
  left: -100%; }

label.error {
  display: none !important; }

.alt-form {
  background: #2f2f2f;
  color: #FFF; }

/* Components 
============================================ */
.btn, p .btn {
  color: #FFF;
  font-size: 0.875em;
  background: #ef4135;
  padding: 15px 16px 14px;
  display: inline-block;
  border: none;
  font-family: 'ProximaNova-Light' Arial, sans-serif;
  font-weight: normal; }

.icon-btn {
  background: #ef4135;
  display: inline-block;
  color: #FFF;
  text-align: center;
  width: 44px;
  height: 32px;
  padding-top: 12px; }

.close-btn-wrapper {
  display: inline-block;
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10; }

.close-btn {
  font-size: 1.4em; }

.arr-link {
  padding-right: 12px;
  position: relative; }

.icon {
  font-family: 'icomoon';
  speak: none;
  font-weight: normal;
  line-height: 1; }

.main-title {
  font-size: 1.5625em;
  letter-spacing: -1px;
  font-family: 'ProximaNova-Light', Arial, sans-serif;
  font-weight: normal;
  margin: 0; }

.main-title span {
  font-size: 0.360em;
  display: none; }

.screen-title {
  font-size: 1em;
  font-family: 'ProximaNova-SemiBold', Arial, sans-serif;
  font-weight: normal;
  line-height: 1.8em;
  text-shadow: 1px 1px 2px #444444;
  ┬áfilter: dropshadow(color=#444444, offx=1, offy=1); }

.screen-title strong {
  font-weight: normal;
  line-height: 0.9em;
  margin: 1% 0;
  letter-spacing: -1px;
  display: block;
  font-size: 2.6em;
  line-height: -0.03em;
  font-family: 'ProximaNova-ExtraBold', Arial, sans-serif; }

.screen .content-active {
  opacity: 0; }

.screen .screen-fade {
  background-color: rgba(0, 0, 0, 0.4); }

.screen .screen-fade .content-active {
  opacity: 1; }

.logo {
  margin: 4px 0 0 4%;
  float: left; }

.logo a {
  background: transparent url(../images/global/logo.png) no-repeat 0 15px;
  height: 44px;
  width: 164px;
  background-size: 100%; }

.svg .logo a {
  display: block;
  background-image: url(../images/global/logo.svg); }

.scroll-container {
  text-align: center;
  display: block;
  width: 100%;
  font-size: 1.2em;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  height: 44px; }

.scroll-container > a {
  display: inline-block;
  overflow: hidden; }

.scroll-container .icon-btn {
  height: 31px;
  width: 44px;
  padding-top: 13px; }

.scroll-container .scroll-tag {
  float: left;
  background: #2f2f2f;
  color: #FFF;
  padding: 14px 25px 13px 25px;
  font-size: 0.6666em; }

.scroll-container-filter-indent {
  bottom: 75px; }

.nav-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 270px;
  z-index: 5;
  opacity: 0;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out; }

.nav-open .nav-container {
  opacity: 1; }

.navigation-primary ul {
  margin: 0; }

.navigation-primary li {
  margin: 0;
  list-style: none;
  list-style-image: none; }

.navigation-primary li {
  border-bottom: 1px solid #262626;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  text-align: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.navigation-primary li a {
  position: relative;
  display: block;
  padding: 18px 32px;
  color: #cccccc;
  font-family: 'ProximaNova-Light', Arial, sans-serif; }

.navigation-primary li.active a {
  background-color: #161616; }

.navigation-primary li.active a:before {
  border: solid transparent;
  content: ' ';
  height: 0;
  border-width: 10px;
  z-index: 1;
  border-left-color: #5c5c5c;
  top: 22px;
  left: 0;
  position: absolute;
  width: 0; }

.nav-indicator {
  float: right;
  font-size: 1.1em;
  padding-top: 12px;
  padding-bottom: 0;
  margin: 4px 1% 0 0; }

/* social links */
.social-links ul {
  margin-left: 0;
  text-align: center;
  width: 147px;
  float: right;
  margin-right: 18px;
  margin-top: 22px;
  overflow: visible;
  white-space: nowrap; }

.social-links li {
  list-style: none;
  float: left;
  margin-bottom: 0; }

.social-links li a {
  color: #5c5c5c;
  font-size: 25px;
  font-family: 'icomoon';
  line-height: 0;
  display: block;
  padding: 16px 12px; }

.social-links a span {
  display: block;
  width: 0;
  text-indent: -9999em; }

.mega-footer .social-links {
  background: none;
  float: none;
  padding: 0; }
  .mega-footer .social-links ul {
    float: none;
    margin: 15px 0 0 0;
    text-align: center;
    width: auto; }
    .mega-footer .social-links ul li {
      display: inline-block;
      float: none;
      margin: 0 4px; }
      .mega-footer .social-links ul li a {
        color: #ef4135;
        font-size: 22px;
        padding: 16px 0; }
      .mega-footer .social-links ul li a:hover {
        text-decoration: none; }

.ie7 .social-links li {
  padding-top: 16px;
  padding-bottom: 16px; }

/* end social links */
.call {
  float: right;
  margin: 20px 30px; }

.filter-content {
  font-size: 0.875em;
  padding: 20px 0;
  overflow: auto; }

.filter-content ul {
  margin: 32px 15px 12px 0;
  padding: 0 20px;
  list-style: none; }

.filter-content li {
  padding: 0;
  margin: 12px 0; }

.filter-content li:nth-child(n+1) {
  margin-top: 0; }

.filter-content li:last-child {
  margin-bottom: 0; }

.filter-content a {
  font-size: 1.111em;
  position: relative;
  padding-right: 18px; }

.filter-content a:before {
  position: absolute;
  top: 7px;
  right: 1px;
  font-size: 0.6666em;
  font-weight: bold; }

.filter-label {
  text-align: left;
  padding: 0 20px; }

.filter-label a {
  display: inline-block;
  position: relative; }

.filter-label a .icon {
  position: absolute;
  top: 6px;
  right: 0;
  font-size: 0.75em; }

.grid-title {
  border-top: solid 1px #ececec;
  position: relative; }

.grid-title h2 {
  float: left;
  padding: 20px;
  margin: 0;
  font-family: 'ProximaNova-Light', Arial, sans-serif; }

.newsletter-link,
.job-alerts-link {
  display: none;
  position: relative;
  padding-left: 34px;
  font-size: 0.875em;
  -moz-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.newsletter-link span,
.job-alerts-link span {
  color: #444444;
  font-size: 20px;
  font-family: 'icomoon';
  font-weight: normal;
  line-height: 1;
  position: absolute;
  top: 32px;
  left: 30px;
  -moz-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out; }

.newsletter-link:hover,
.job-alerts-link:hover {
  color: #FFF;
  background: #000;
  text-decoration: none; }

.newsletter-link.active,
.job-alerts-link.active {
  color: #000;
  background: #000;
  text-decoration: none; }

.newsletter-link:hover span, .newsletter-link.active span,
.job-alerts-link:hover span, .job-alerts-link.active span {
  color: #FFF; }

.newsletter-link .close-btn-wrapper {
  top: 0;
  right: -44px;
  -moz-transition: right 0.15s ease-in-out;
  -webkit-transition: right 0.15s ease-in-out;
  -o-transition: right 0.15s ease-in-out;
  transition: right 0.15s ease-in-out; }

.newsletter-link .close-btn-active {
  right: 0; }

.newsletter, .job-alerts {
  display: none;
  overflow: hidden;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 245px;
  -moz-transition: height 0.2s ease-in-out;
  -webkit-transition: height 0.2s ease-in-out;
  -o-transition: height 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.newsletter .frow-action input {
  width: 100%; }

.pages, .flexslider {
  position: relative;
  z-index: 1;
  overflow: hidden; }

.screen {
  position: relative;
  width: 100%;
  text-align: center;
  overflow: hidden;
  background: no-repeat center 0;
  background-size: cover;
  -webkit-backface-visibility: hidden; }

.no-js .flexslider .screen {
  display: none; }

.no-js .flexslider .screen:first-child {
  display: block; }

.screen .screen-inner {
  min-height: 320px;
  width: 100%;
  -moz-transition: background-color 0.5s ease-in-out;
  -webkit-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out; }

.screen .content {
  position: absolute;
  left: 0;
  top: 28%;
  display: inline-block;
  width: 100%;
  color: #FFF;
  z-index: 101; }

.screen .content-active {
  -moz-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out; }

.screen .content-centered {
  text-align: center;
  top: 25%; }

.screen .content-panel {
  background: #000;
  background: rgba(0, 0, 0, 0.8);
  padding-bottom: 20px; }

.screen .content-panel .content-inner {
  padding: 20px 50px 0; }

.screen .content-panel p {
  margin-bottom: 10px; }

.screen .case-study-btn {
  padding-left: 22px; }

.screen .case-study-btn span {
  font-weight: bold;
  font-size: 0.75em;
  margin-left: 8px; }

.brand-logos {
  display: none;
  list-style: none; }

.brand-logos li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px; }

.brand-logos li:last-child {
  margin-right: 0; }

/*.flexslider .screen { display:none; }
.no-js .flexslider .screen:first-child { display: block; }*/
.flex-control-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  position: absolute;
  z-index: 102;
  bottom: 80px;
  text-align: center; }

.flex-control-nav li {
  margin: 0;
  display: inline-block;
  text-align: left;
  zoom: 1;
  *display: inline;
  width: 12px;
  height: 12px;
  background: #FFF;
  border-radius: 50% 50%;
  margin: 0 2px; }

.flex-control-nav li a {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50% 50%;
  margin: 2px; }

.flex-control-nav li .flex-active {
  background: #ef4135; }

.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

.flex-direction-nav li {
  margin: 0; }

.flex-direction-nav a {
  width: 40px;
  height: 40px;
  margin-top: -40px;
  display: block;
  z-index: 1;
  color: #FFF;
  font-size: 40px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  opacity: 0.8;
  -webkit-transition: all .3s ease;
  font-family: 'icomoon'; }

.flex-direction-nav .flex-prev {
  left: 0; }

.flex-direction-nav .flex-next {
  right: 0; }

.scrolling-nav {
  position: fixed;
  top: 36%;
  right: 0;
  z-index: 200;
  -webkit-transform: translateZ(0); }

.scrolling-nav li {
  position: relative;
  height: 34px;
  margin-bottom: 1px; }

.scrolling-nav li a {
  display: block;
  width: 199px;
  position: absolute;
  height: 34px; }

.scrolling-nav .icon-btn {
  height: 25px;
  padding-top: 9px;
  width: 34px; }

.scrolling-nav .icon-btn:before {
  font-size: 0.875em; }

.scrolling-nav .icon-btn:hover {
  opacity: 1;
  text-decoration: none; }

.scrolling-nav li span {
  float: left; }

.scrolling-nav li .title {
  background: #FFF;
  font-size: 13px;
  width: 125px;
  color: #444444;
  display: block;
  padding: 7px 20px 8px; }

.scrolling-nav li a.prev,
.scrolling-nav li a.next {
  right: 0; }

.scrolling-nav li a.selected .icon-btn {
  background: #bc0d04;
  text-indent: -9999em; }

.blog-intro .inner {
  border-bottom: 1px solid #ececec; }

.blog-intro header {
  border-bottom: none;
  margin: 0; }

.article-thumb {
  position: relative;
  padding-bottom: 0;
  font-size: 0.875em;
  overflow: hidden; }

.article-thumb img {
  max-width: 100%;
  height: auto;
  display: block;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 3.5+, IE10 */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Chrome 19+ & Safari 6+ */ }

.article-thumb a {
  background: #FFF; }

.article-thumb .links {
  position: absolute;
  bottom: 15px;
  left: 0;
  padding: 0 20px;
  font-size: 0.875em; }

.article-thumb .a {
  display: block; }

.article-thumb .content {
  padding: 15px 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

.article-thumb h2 {
  position: relative;
  margin: 0 0 12px;
  font-family: 'ProximaNova-Light', Arial, sans-serif; }

.article-thumb .image-container:after,
.article-thumb .image-container:before {
  border: solid transparent;
  content: ' ';
  height: 0;
  right: 10px;
  position: absolute;
  width: 0;
  z-index: 1; }

.article-thumb .image-container:before {
  border-width: 10px;
  border-bottom-color: #FFF;
  bottom: 0; }

.article-thumb time, .article-thumb .project {
  color: #8c8c8c;
  display: block;
  margin-bottom: 10px; }

.article-thumb a.selected img {
  filter: none;
  -webkit-filter: grayscale(0); }

.article-thumb a.selected {
  background: #ef4135; }

.article-thumb a.selected .image-container:before {
  border-bottom-color: #ef4135; }

.article-thumb a.selected h2,
.article-thumb a.selected p,
.article-thumb a.selected time,
.article-thumb a.selected .a,
.article-thumb a.selected small {
  color: #FFF; }

.article-thumb .loader {
  background: #FFF;
  background: rgba(255, 255, 255, 0.9);
  z-index: 20; }

.article-thumb .loader.error {
  background: #ef4135;
  background: rgba(239, 65, 53, 0.9); }

.a-container {
  background: #FFF;
  overflow: hidden;
  pointer-events: all; }

.a-container .blog-article {
  overflow: hidden; }

.fixed-aside img {
  width: 100%; }

.article-thumb .loader {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%); }

.js-load-article .loader {
  -webkit-transform: translateY(-50.1%);
  -moz-transform: translateY(-50.1%);
  -ms-transform: translateY(-50.1%);
  -o-transform: translateY(-50.1%);
  transform: translateY(-50.1%); }

.outer-container {
  overflow: hidden;
  z-index: 10;
  float: left; }

.outer-container-css3,
.a-container-css3,
.blog-article-css3 {
  -webkit-transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /* Chrome and Safari */
  -moz-backface-visibility: hidden;
  /* Firefox */
  -ms-backface-visibility: hidden;
  /* Internet Explorer */ }

.a-container-css3 {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }

.ie .article-thumb .loader {
  bottom: 0;
  top: auto;
  transform: translateY(none); }

.mobile-article {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 199;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%); }

.mobile-article-in {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0); }

.mobile-close {
  position: fixed;
  right: 0;
  top: 45%;
  z-index: 199;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%); }

.mobile-close.mobile-article-open {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0); }

.blog-container {
  position: relative; }

.blog-container .blog-article {
  border-top: 1px solid #ececec; }

.blog-article {
  border-bottom: 1px solid #ececec; }

.blog-article .grid-container {
  background: #f6f6f6; }

.blog-article .grid {
  border-bottom: none; }

.blog-article .grid-4 {
  background: #FFF; }

.blog-article aside img {
  display: block;
  width: 100%; }

.blog-article .article {
  margin-bottom: 46%; }

.blog-article .article .small {
  padding-left: 3px; }

.blog-article .article h1 {
  line-height: 1.0; }

.blog-filters {
  position: relative;
  background-color: #FFF; }

.blog-filters .grid-container {
  margin-bottom: 110px; }

.blog-title .blog-link {
  margin-left: -15px; }

.article header {
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ececec; }

.article .article-title {
  margin: 0; }

.article .article-body {
  padding: 0 20px 0 20px; }

.article .article-body .title {
  display: block; }

.article-body ul {
  list-style: square;
  margin-left: 20px;
  margin-bottom: 1.2857em; }

.article-body li {
  margin-bottom: 3px; }

.intro .article header {
  margin-bottom: 0; }

.intro .article-body {
  padding: 20px 20px 0; }

.share-links {
  position: absolute;
  bottom: 0;
  margin: 0 0 30px 2px;
  padding: 0;
  text-align: center;
  width: 100%; }

.share-links li {
  position: relative;
  float: left;
  list-style: none;
  text-align: center;
  width: 28%;
  padding-bottom: 28%;
  margin: 0 4%;
  background: #f6f6f6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.share-links .last {
  margin: 0 4% 0 0; }

.share-links .first {
  margin: 0 0 0 4%; }

.share-links li a {
  position: absolute;
  display: block;
  font-size: 25px;
  color: #cccccc;
  border: solid 1px #ececec;
  font-family: 'icomoon';
  line-height: 0;
  height: 50%;
  padding-top: 50%;
  width: 100%; }

.share-links li .facebook,
.share-links li .facebook:hover {
  color: #FFF;
  background-color: #195e98;
  border: none; }

.share-links li .twitter,
.share-links li .twitter:hover {
  color: #FFF;
  background-color: #33ccff;
  border: none; }

.share-links li .google,
.share-links li .google:hover {
  color: #FFF;
  background-color: #dd4b39;
  border: none; }

.share-links li .mail,
.share-links li .mail:hover {
  color: #FFF;
  background-color: #ef4135;
  border: none;
  font-size: 30px; }

.share-links a span {
  display: block;
  width: 0;
  text-indent: -9999em; }

.newsletter {
  padding: 40px 20px 20px;
  border: none; }

.job-application {
  position: relative;
  padding: 40px 20px 20px;
  border: none; }

.newsletter h2 {
  margin: 0 0 0.75em; }

.newsletter .frow {
  margin-bottom: 12px; }

.newsletter input[type=text],
.job-application input[type=text],
.newsletter input[type=email],
.job-application input[type=email],
.job-application textarea {
  background: #444444;
  color: #FFF; }

.job-application {
  position: relative; }

.job-application:before {
  content: ' ';
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  border: solid transparent;
  left: 33px;
  top: 0;
  border-width: 27px;
  border-top-color: #FFF;
  z-index: 0; }

.job-application header {
  padding: 0; }

.job-application fieldset {
  width: 100%; }

.job-application .note {
  margin-bottom: 35px;
  display: block;
  text-align: right; }

.job-application .frow {
  margin: 0 0 10px; }

.job-application .frow-textfield,
.job-application .frow-file {
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.job-application .frow-file {
  display: none; }

.job-application .frow-textfield:nth-child(3n+1) {
  padding-right: 0; }

.job-application .frow-textarea {
  clear: left; }

.job-application .frow-textarea textarea {
  height: 20%;
  height: 300px;
  width: 100%;
  background: #444444; }

.job-application .frow-action {
  text-align: right; }

.job-apply-btn {
  display: none; }

.team-member-list {
  margin: 11% 0 0 0;
  list-style: none;
  overflow: hidden; }

.team-member-list li {
  position: relative;
  float: left;
  width: 50%;
  margin: 0; }

.ie7 .team-member-list li:nth-child(even) {
  margin-right: -1px; }

.team-member-list li a {
  display: block;
  background: #ef4135; }

.team-member-list li img {
  opacity: 1;
  display: block;
  width: 100%;
  -moz-transition: opacity 0.1s linear;
  -webkit-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear; }

.team-member-list li a:hover img {
  opacity: 0; }

.team-member-list .desc {
  position: absolute;
  z-index: 3;
  top: 38%;
  left: 0;
  display: inline-block;
  width: 100%;
  text-align: center; }

.team-member-list .desc strong {
  display: block; }

.job-alerts-block {
  border-bottom: 1px solid #ececec; }

.job-alerts-block h3, .team-block h3 {
  font-family: 'ProximaNova-Light', Arial, sans-serif;
  font-weight: normal; }

.job-alerts-block h3 {
  margin-top: 0; }

.team-block h3, .team-block p {
  padding: 0 15px; }

.team-block .desc p {
  color: #FFF;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2; }

.team-block .desc p strong {
  font-size: 1.4em;
  font-weight: normal;
  line-height: 1; }

.service-listing .service-summary {
  position: relative;
  padding: 30px 30px 60px;
  background: #f6f6f6 url(../images/content/approach/small/light-bg.png) repeat-x 0 0;
  text-align: center;
  background-size: 320px 415px; }

.service-listing .grid {
  border: none; }

.service-listing .grid:nth-child(even) .service-summary {
  background-color: #2f2f2f;
  background-image: url(../images/content/approach/small/dark-bg.png); }

.service-listing .grid:nth-child(even) .service-summary .main-title {
  color: #FFF; }

.service-listing .grid:nth-child(even) .service-summary p,
.service-listing .grid:nth-child(even) .service-summary li,
.service-listing .grid:nth-child(even) .service-summary span {
  color: #FFF; }

.service-summary header {
  text-align: center; }

.service-summary .content {
  margin-bottom: 40px;
  text-align: left; }

.service-summary .col {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.service-summary .main-title {
  text-align: center;
  position: relative;
  margin: 15px 0 30px 0; }

.service-summary li:before {
  font-family: 'icomoon';
  content: "\e008";
  speak: none;
  font-weight: bold;
  line-height: 1;
  font-size: 0.6em;
  padding-right: 5px;
  position: absolute;
  left: 0;
  top: 7px; }

.service-summary ul {
  margin: 0;
  padding: 0; }

.service-summary li {
  list-style: none;
  padding-left: 18px;
  position: relative;
  margin: 8px 0; }

.service-summary li:first-child {
  margin-top: 0; }

.service-summary .content .icon {
  font-size: 7em; }

.service-summary .btn {
  display: inline-block; }

.client-logos-container {
  border-bottom: 1px solid #ececec; }

.client-logos {
  padding: 0; }

.client-logos ul {
  overflow: hidden;
  padding: 0;
  margin: 20px 10px; }

.client-logos li {
  list-style: none;
  float: left;
  margin: 0; }

.client-logos .logo-container {
  margin: 0 10px 20px; }

.client-logos img {
  width: 100%;
  display: block; }

footer {
  background-color: #FFF;
  padding: 30px 0 0;
  overflow: hidden; }

.footer {
  font-size: 0.75em;
  color: #4e4e4e;
  margin-bottom: 30px; }

.footer address .col {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px; }

.footer address .arow {
  display: block;
  margin: .1em 0; }

.footer address .maps, .footer address .email {
  margin-top: 8px; }

.footer .footer-logos {
  float: left;
  padding: 30px 15px 0; }

.mega-footer .footer-logos {
  float: left;
  padding: 0;
  width: 100%; }

.mega-footer .partners, .mega-footer .footer .tech,
.footer .partners,
.footer .footer .tech {
  margin-left: 0;
  float: left;
  clear: left;
  width: 100%; }

.mega-footer .partners li,
.mega-footer .tech li,
.footer .partners li,
.footer .tech li {
  display: inline-block;
  list-style: none; }

.footer .partners li a,
.footer .tech li a,
.mega-footer .partners li a,
.mega-footer .tech li a {
  width: 128px;
  height: 30px;
  display: block;
  background: transparent url(../images/global/footer-logos.png) no-repeat 0 0;
  background-size: 633px 30px; }

.footer .partners {
  margin-bottom: 15px; }

.mega-footer .tech li a,
.footer .tech li a {
  width: 65px; }

.mega-footer .partners .sitecore,
.footer .partners .sitecore {
  background-position: 10px 0; }

.mega-footer .partners .umbraco,
.footer .partners .umbraco {
  background-position: -135px 0; }

.mega-footer .partners .telligent,
.footer .partners .telligent {
  background-position: -280px 0; }

.mega-footer .tech .ios,
.footer .tech .ios {
  background-position: -433px 0; }

.mega-footer .tech .android,
.footer .tech .android {
  background-position: -515px 0; }

.mega-footer .tech .windows,
.footer .tech .windows {
  background-position: -584px 0; }

.sub-footer {
  background: transparent no-repeat center bottom;
  background-size: contain;
  padding: 0 0 60px 15px; }

.sub-footer ul {
  margin-left: 0;
  padding: 0;
  list-style: none; }

.sub-footer li {
  display: inline;
  color: #4e4e4e;
  padding-right: 5px;
  border-right: 1px solid #4e4e4e;
  font-size: 0.75em; }

.sub-footer li:last-child {
  border: 0; }

.sub-footer .copyright li:first-child {
  display: block;
  border-right: none;
  margin: 0;
  padding: 0; }

.mega-footer {
  text-align: center; }
  .mega-footer ul {
    list-style: none;
    margin: 0; }
  .mega-footer address .number {
    font-weight: normal;
    font-size: 1.1em; }
  .mega-footer .mega-footer-bottom {
    background-color: #000;
    color: #999999; }
  .mega-footer section.address .row .arow:first-child {
    font-weight: bold; }
  .mega-footer .arow {
    display: block; }
  .mega-footer .arow.title {
    font-weight: bold; }
  .mega-footer .awards img {
    padding-top: 25px;
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    /* Firefox 3.5+, IE10 */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(1);
    /* Chrome 19+ & Safari 6+ */ }
  .mega-footer .social-links {
    display: block; }
  .mega-footer .site-links {
    margin-bottom: 10px; }
    .mega-footer .site-links li {
      color: #FFF;
      border-right-color: #FFF; }
    .mega-footer .site-links a {
      color: #FFF;
      font-weight: bold; }
  .mega-footer .copyright {
    margin-bottom: 0; }
  .mega-footer .site-links li,
  .mega-footer .copyright li {
    padding: 0 10px;
    border-right-width: 1px;
    border-right-style: solid; }
    .mega-footer .site-links li:first-child,
    .mega-footer .copyright li:first-child {
      padding-left: 0; }
    .mega-footer .site-links li:last-child,
    .mega-footer .copyright li:last-child {
      border-right: 0; }

.contact-address {
  margin-bottom: 30px;
  margin-bottom: 1.875rem; }
  .contact-address h1 {
    font-family: 'ProximaNova-ExtraBold', Arial, sans-serif;
    font-size: 3em;
    margin-top: 30px;
    margin-top: 1.875rem;
    margin-right: 0;
    margin-bottom: 30px;
    margin-bottom: 1.875rem;
    margin-left: 0;
    text-align: center; }
  .contact-address .grid h2 {
    margin: 0;
    font-size: 40px;
    font-size: 2.5rem;
    font-family: 'ProximaNova-Light', Arial, sans-serif;
    margin-bottom: 30px;
    margin-bottom: 1.875rem;
    white-space: nowrap; }
  .contact-address .grid h3 {
    margin: 0;
    font-size: 15.01px;
    font-size: 0.93813rem;
    font-family: 'Gudea', Arial, sans-serif;
    letter-spacing: normal; }
  .contact-address .grid .row {
    display: block;
    margin-top: 10px;
    margin-top: 0.625rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
    margin-left: 0px;
    margin-left: 0rem; }
    .contact-address .grid .row .arow {
      display: block;
      font-size: 15.01px;
      font-size: 0.93813rem; }
      .contact-address .grid .row .arow.title {
        font-weight: 800; }
  .contact-address .address-item {
    display: none; }

.loader {
  background: transparent url(../images/global/loader.gif) no-repeat 0 0;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 50%; }

.page-loader {
  opacity: 0;
  background: #f6f6f6;
  position: absolute;
  z-index: 1000;
  -moz-transition: opacity .3s ease-in-out;
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out; }

.page-loader .content {
  position: absolute;
  left: 0;
  top: 28%;
  display: inline-block;
  width: 100%;
  color: #FFF; }

.loading .page-loader {
  opacity: 1; }

.grid-loader {
  text-align: center;
  background-color: #FFF;
  padding: 30px 0;
  border-bottom: 1px solid #ececec; }

.seq-loader a {
  color: #000;
  font-family: 'ProximaNova-Light', Arial, sans-serif;
  text-transform: none; }

.seq-loader a:hover {
  color: #ef4135;
  text-decoration: none; }

.seq-loader span {
  color: #ef4135;
  font-size: 0.75em;
  padding-right: 8px; }

.seq-loader .active {
  background: transparent url(../images/global/seq-loader.gif) no-repeat 50% 0;
  height: 29px;
  width: 100%; }

.life-at-code {
  padding: 40px 0;
  text-align: center;
  background: transparent url(../images/temp/life-code.jpg) no-repeat center 0;
  background-size: cover; }

.life-at-code .btn .icon {
  padding-right: 10px;
  vertical-align: text-top;
  font-size: 1.1em; }

.ie7 .life-at-code, .ie8 .life-at-code {
  background-repeat: repeat-x; }

.life-at-code .screen-title {
  margin-top: 0;
  color: #FFF; }

/* Page specific styles
  ======================================================================== */
/* home 
  -------------------------- */
.homepage .blog-title .blog-link {
  float: right;
  margin-right: 20px;
  margin-top: 9px;
  text-align: center; }

/* approach 
  -------------------------- */
.approach-listing .content:before, .approach .content:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.approach-listing .content:after {
  clear: both; }

.approach-listing .content {
  zoom: 1;
  display: block;
  margin: 0 10%;
  width: 80%;
  position: static;
  padding: 60px 0;
  text-align: center; }

.approach-listing .screen {
  position: relative;
  overflow: hidden;
  text-align: left;
  -webkit-backface-visibility: visible; }

.approach-listing .screen * {
  color: #FFF; }

.approach-listing .screen-2 .column *,
.approach-listing .screen-6 .column * {
  color: #444444; }

.approach-listing .screen-2 .screen-inner {
  background: #f6f6f6 repeat-x center 0;
  background-image: url(../images/content/approach/small/light-bg.png);
  background-size: contain; }

.approach-listing .screen-3 .screen-inner {
  background: #2f2f2f no-repeat center 0;
  background-image: url(../images/content/approach/small/approach-1.jpg);
  background-size: contain; }

.approach-listing .screen-4 .screen-inner {
  background: #2f2f2f repeat-x center 0;
  background-image: url(../images/content/approach/small/dark-bg.png);
  background-size: contain; }

.approach-listing .screen-5 .screen-inner {
  background: #2f2f2f repeat-x center 0;
  background-image: url(../images/content/approach/small/approach-2.jpg);
  background-size: contain; }

.approach-listing .screen-6 .screen-inner {
  background: #f6f6f6 repeat-x center 0;
  background-image: url(../images/content/approach/small/light-bg.png);
  background-size: contain; }

.approach-listing .screen-4 h2 {
  margin-top: 0; }

.approach-listing .main-title {
  margin: 1.2857em 0; }

.approach-listing .screen blockquote {
  text-align: center;
  font-weight: normal;
  position: relative;
  margin-bottom: 28px; }

.approach-listing .screen blockquote:before,
.approach-listing .screen blockquote:after {
  content: '\201c';
  line-height: 0;
  display: inline-block;
  position: relative;
  font-size: 40px;
  vertical-align: middle;
  font-family: 'ProximaNova-SemiBold'; }

.approach-listing .screen blockquote:before {
  top: -5px; }

.approach-listing .screen blockquote:after {
  content: '\201d';
  bottom: -15px; }

.approach-listing .column .newspaper p {
  margin: 0 0 20px 0; }

.approach-listing .column:first-child {
  text-align: center; }

.approach-listing .column:first-child .icon {
  font-size: 7em; }

.ie .approach-listing .screen blockquote:before {
  top: 10px;
  left: 0px; }

.ie .approach-listing .screen blockquote:after {
  bottom: -25px;
  left: 0px; }

.approach-listing .read-more-btn {
  display: inline-block;
  margin-top: 10px; }

.no-js .approach-listing .read-more-btn {
  display: none; }

.no-js .approach-listing .screen-2 .screen-inner,
.no-js .approach-listing .screen-3 .screen-inner,
.no-js .approach-listing .screen-4 .screen-inner,
.no-js .approach-listing .screen-5 .screen-inner,
.no-js .approach-listing .screen-6 .screen-inner {
  background-size: cover; }

.js .approach-listing .body-content {
  display: none; }

/* Work *
  -------------------------- */
.work-filters {
  overflow: auto; }

.work-filters .filter-content {
  border-bottom: 1px solid #ececec;
  width: 100%;
  float: none; }

.work-container .learn-more {
  position: relative;
  display: none;
  margin-top: 5px;
  padding-right: 18px; }

.work-container .learn-more .icon {
  position: absolute;
  top: 6px;
  right: 0;
  font-size: 0.75em; }

.js .work-container .learn-more {
  display: inline-block; }

.js .work-container .article-body {
  display: none; }

.related-work .main-title {
  margin: 20px; }

/* join 
  -------------------------- */
.job-listing {
  position: relative; }

.job-listing .job-alerts-block {
  float: none;
  width: auto; }

.job-detail .grid-container {
  border-bottom: 1px solid #ececec; }

.job-detail .grid {
  border-bottom: none; }

.job-detail .form-intro {
  font-size: 1.285em;
  width: 370px; }

.no-js .job-detail .job-apply-btn {
  display: none; }

/* contact 
  -------------------------- */
.screen-contact .content {
  top: 3em; }

.contact-details .scroll-container {
  position: static; }

.contact-details {
  background: #FFF;
  text-align: center;
  width: 100%;
  position: absolute; }

.contact-details h3 {
  font-weight: normal; }

.contact-details .vcard {
  padding: 20px;
  font-size: 0.875em; }

.contact-details .inner {
  color: #4e4e4e; }

.contact-details .inner > *:last-child {
  margin-bottom: 0; }

.contact-details .col {
  text-align: center;
  margin: 0 0 10px 0; }

.contact-details .col span {
  text-align: center; }

.contact-details .postal-code {
  display: block; }

.contact-details .col .maps {
  display: none; }

.contact-details .col .tel span {
  display: inline; }

.contact-details .btn {
  display: block;
  text-align: center;
  margin: 0; }

.contact-address {
  bottom: 0; }

.contact-map {
  overflow: hidden; }

.no-js .screen-map .contact-details .title {
  display: none; }

.no-js .screen-contact {
  min-height: 550px; }

.no-js .screen-map .screen-inner {
  min-height: 360px; }

.no-js .screen-entrance .title {
  bottom: 30%; }

.screen-entrance .screen-inner {
  background-position: 56% 0; }

.screen-entrance .title {
  text-align: center;
  position: absolute;
  bottom: 10%;
  width: 100%;
  font-size: 3.5em;
  color: #FFF;
  text-transform: uppercase;
  line-height: 1; }

.screen-entrance .map-back {
  display: none; }

.show-entrance {
  display: block;
  width: 180px;
  height: 20px; }

.contact .screen {
  background-attachment: scroll; }

.contact .tabs {
  border-top: 1px solid #e2e2e2; }

.contact .tabs nav {
  width: 100%; }

.contact .tab-navigation {
  text-align: center;
  font-size: 0;
  margin-top: -1px; }

.contact .tab-navigation li:first-child {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 1px solid #e2e2e2; }

.contact .tab-navigation li {
  cursor: pointer;
  display: inline-block;
  width: 50%;
  font-size: 16px; }

.contact .tab-navigation li .maps-btn {
  background: white;
  color: #ef4135;
  width: 100%;
  position: relative;
  z-index: 1;
  transition: none;
  border-bottom: 1px solid #e2e2e2;
  border-top: 1px solid #e2e2e2; }

.contact .tab-navigation li .maps-btn:hover {
  background: #ef4135;
  color: white;
  border-top: 1px solid #ef4135; }

.contact .tab-navigation li .maps-btn.selected {
  background: #ef4135;
  color: white;
  border-top: 1px solid #ef4135; }

.contact .tab-navigation .maps-btn {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 16px 0; }

.billboard-contact .contact-details .inner {
  padding-bottom: 20px; }

.billboard-contact .contact-details-head {
  position: relative; }

.billboard-contact .contact-details {
  position: absolute;
  bottom: 0px; }

.billboard-contact .contact-details .inner {
  padding: 15px; }

.billboard-contact .address-line {
  font-size: 0.75em; }

.screen-map {
  clear: both; }

.screen-map .scroll-cap, .screen-map .maps-btn {
  display: none; }

.screen-map .contact-details {
  background: transparent;
  width: 100%;
  z-index: 1; }

.screen-map .contact-details h3 {
  color: #444444;
  margin-bottom: 30px;
  margin: 0;
  padding: 20px 0;
  background: #FFF;
  margin-bottom: 60px;
  font-family: 'ProximaNova-Light', Arial, sans-serif;
  font-weight: normal; }

.screen-map .route-links {
  font-size: 0.875em;
  list-style-type: none;
  margin: 0 60px 20px;
  padding: 0;
  text-align: center; }

.screen-map .route-links li {
  display: block;
  max-width: 320px;
  margin: 0 auto 20px; }

.screen-map .route-links li a {
  display: block;
  background: #ef4135;
  padding: 15px 10px;
  color: #FFF; }

.screen-map .scroll-toggler {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -25px;
  z-index: 100; }

.contact .details-item {
  text-align: center;
  padding: 0 30px; }
  .contact .details-item h2 {
    display: none; }

.contact .tab-navigation li .maps-btn.selected:after, .contact .tab-navigation li .maps-btn.selected:before, .contact .tab-navigation li .maps-btn:hover:after, .contact .tab-navigation li .maps-btn:hover:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.contact .tab-navigation li .maps-btn.selected:after, .contact .tab-navigation li .maps-btn:hover:after {
  border-color: rgba(239, 65, 53, 0);
  border-top-color: #ef4135;
  border-width: 13px;
  margin-left: -13px; }

.contact .tab-navigation li .maps-btn.selected:before, .contact .tab-navigation li .maps-btn:hover:before {
  border-color: rgba(205, 56, 46, 0);
  border-top-color: #cd382e;
  border-width: 14px;
  margin-left: -14px; }

.contact .address-tab {
  display: none;
  position: relative; }

.contact .address-tab h2 {
  display: none; }

.contact .address-tab address {
  padding: 30px 30px 20px; }

.contact .address-tab span {
  display: block; }

.contact .address-tab img {
  max-width: 100%;
  width: 100%; }

.contact .address-tab .number {
  font-weight: bold;
  margin-top: 12px; }

.contact .address-tab .btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  text-align: center; }

.contact .address-tab.active {
  display: block; }

/* Case studies
  ======================================================================== */
.case-study {
  position: relative; }

.cs-article {
  padding: 30px 20px;
  background: #FFF;
  color: #444444;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover; }

.case-study .cs-article:last-of-type {
  padding-bottom: 40px; }

.cs-article h2,
.cs-article h3 {
  font-size: 1.5625em;
  line-height: 1;
  margin: 0 0 0.3em;
  letter-spacing: -1px;
  font-family: 'ProximaNova-Light', Arial, sans-serif; }

.cs-article h2 {
  font-size: 2em;
  letter-spacing: -2px;
  text-align: center; }

.cs-article img {
  width: 100%; }

.cs-article .columns {
  overflow: hidden; }

.cs-article .col-3 .col img {
  width: auto;
  margin-bottom: 20px; }

.cs-article .panels,
.cs-article .col-3 {
  text-align: center; }

.cs-article .panels .col {
  margin-bottom: 20px;
  display: inline-block;
  vertical-align: top;
  margin-left: -4px; }

.cs-article .panels .col-inner {
  padding: 20px;
  background: #FFF;
  color: #000; }

.cs-article .panels .col:last-child {
  margin-bottom: 0; }

.cs-article .intro {
  text-align: center;
  margin-bottom: 20px; }

.cs-hero {
  background: #2f2f2f;
  text-align: center;
  padding: 0; }

.cs-hero header {
  color: #a8a8a8;
  padding: 30px 20px; }

.cs-hero img {
  display: block;
  width: 100%; }

.cs-hero h1 {
  margin-top: 0;
  color: #FFF;
  margin-bottom: 5px; }

.cs-hero p:last-child {
  margin-bottom: 0; }

.cs-carousel .cs-article-body {
  padding: 30px 20px; }

.cs-article-body {
  overflow: hidden; }

.cs-article-body ul {
  list-style: square;
  margin-left: 20px;
  margin-bottom: 1.2857em; }

.cs-article-body li {
  margin-bottom: 20px; }

.cs-article-body .col-3 {
  text-align: center; }

.cs-article-body .col-3 .col {
  margin: 20px 0 40px;
  display: inline-block;
  vertical-align: top;
  margin-left: -4px; }

.cs-article-body .col-3 .col-inner {
  text-align: center; }

.cs-carousel {
  padding: 0; }

.cs-carousel h2 {
  text-align: left; }

.cs-carousel .col-copy {
  padding: 0 20px 20px;
  margin: 0; }

.cs-carousel .col-copy p:last-child {
  margin: 0; }

.cs-carousel .col-img ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.cs-carousel .col-img li {
  margin: 0; }

.cs-carousel img {
  width: 100%;
  display: block; }

.cs-carousel .flexslider {
  overflow: visible;
  margin-bottom: 40px; }

.cs-carousel .flex-control-nav {
  bottom: -30px; }

.cs-carousel .slides {
  overflow: hidden; }

.cs-article-centre img {
  display: block; }

.cs-video-wrapper {
  background: transparent no-repeat 0 0;
  background-size: cover;
  position: relative;
  padding-bottom: 54.25%;
  padding-top: 25px;
  height: 0; }

.cs-video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* home carousel tweaks */
.homepage .slides ul {
  list-style: none;
  margin-left: 0; }

.homepage .slides li {
  font-size: 1.8em;
  line-height: 0.4; }

/* error page 
--------------------------- */
.error-page .screen-inner {
  min-height: 400px; }

.error-page .nav-container {
  background: #ef4135; }

.error-page {
  background: transparent url(../images/global/error-bg-mobile.jpg) center top;
  background-size: 100% auto; }

.error-page .container,
.error-page .main {
  background: transparent; }

.error-page .screen .content {
  padding-top: 25%; }

.error-page h2, .error-page p {
  color: #FFF; }

/* Helpers 
============================================ */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

.hidden {
  display: none;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

.upper {
  text-transform: uppercase; }

.lower {
  text-transform: lowercase; }

.tac {
  text-align: center; }

.tal {
  text-align: left; }

.tar {
  text-align: right; }

.sub-title {
  font-size: 2.4em !important;
  line-height: 1.25; }

/* 100 percent iframe video */
.fluid-ratio-container .fluid-item-container {
  position: relative; }

.fluid-ratio-container .fluid-scale {
  width: 100%;
  display: block; }

.fluid-ratio-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

/*.fluid-ratio-container video { width: 100%; height: 100%; position: absolute; left: 0; top: 0;} */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  body {
    font-family: Arial, sans-serif; }

  html > body {
    font-size: 16px; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #8c8c8c;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; }

  .nav-container, .top, .components, .job-application {
    display: none; }

  .main {
    padding: 0; } }
/* Suppression and Fallbacks 
============================================ */
.hidden-mob {
  display: none;
  visibility: hidden; }

.no-js .nav-container {
  opacity: 1;
  position: static;
  width: auto; }

.no-js .nav-container li {
  width: 50%;
  float: left;
  text-align: left;
  border-right: 1px solid #262626; }

.no-js .nav-container .social-links {
  display: none; }

.no-js .rgrid {
  height: auto; }

/* Components 
============================================ */
.screen-contact .screen-title strong {
  margin: 0; }

.contact .screen-entrance .screen-inner {
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat; }

.screen-map .route-links li {
  margin-bottom: 10px; }

.screen-map .route-links li a {
  padding: 10px; }

.screen-title {
  letter-spacing: -1px; }

.article-thumb .content {
  height: 200px; }

.article-thumb .links {
  display: none; }

.job-listing .article-thumb .content {
  height: 400px; }

.cs-carousel-l .cs-article-body img {
  width: 90%;
  padding-left: 5%; }

.cs-article-body > .col {
  padding-top: 20px; }

.cs-article-body > .col:first-child {
  padding-top: 0px; }

.mega-footer {
  font-size: 0.75em;
  padding-top: 15px; }
  .mega-footer .mega-footer-top,
  .mega-footer .mega-footer-bottom {
    padding: 15px; }
  .mega-footer section.col {
    margin-bottom: 30px; }
  .mega-footer section.address,
  .mega-footer section.awards,
  .mega-footer section.social {
    width: 100%; }
  .mega-footer section.address .row {
    display: block;
    margin-bottom: 15px; }
  .mega-footer .site-links li,
  .mega-footer .copyright li {
    display: inline; }
  .mega-footer .copyright {
    margin-bottom: 20px; }
    .mega-footer .copyright li:first-child {
      border-right: 0;
      display: block;
      margin-bottom: 0; }
    .mega-footer .copyright li:nth-child(2) {
      padding-left: 0; }

@media (max-height: 480px) {
  .flex-control-nav {
    display: none; } }
/* Layout & HTML base styles
========================================== */
h1, .h1 {
  font-size: 2.8125em; }

.container {
  z-index: auto; }

.main {
  overflow-x: hidden;
  min-height: 768px;
  padding-top: 60px;
  -webkit-backface-visibility: visible; }

.top {
  position: fixed;
  width: auto;
  z-index: 102;
  top: 0; }

.top-inner {
  position: static;
  height: 60px;
  background: none; }

.no-js .top-inner {
  border-bottom: 0; }

/* Grid 
============================================ */
.grid-1 {
  width: 25%; }

.grid-2 {
  width: 50%; }

.grid-4 {
  width: 100%; }

/* Components 
============================================ */
.btn, p .btn {
  padding: 15px 25px; }

.article-col {
  float: left;
  width: 50%;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.newspaper {
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-gap: 50px;
  -webkit-column-gap: 50px;
  -moz-column-gap: 50px; }

.screen-title {
  font-size: 1.6em; }

.screen-title strong {
  font-size: 3.8em;
  letter-spacing: -2px; }

.main-title {
  font-size: 3em;
  letter-spacing: -2px; }

.logo {
  margin: 8px 0 0 30px; }

.logo a {
  -moz-transition: background-position 0.6s ease-in-out;
  -webkit-transition: background-position 0.6s ease-in-out;
  -o-transition: background-position 0.6s ease-in-out;
  transition: background-position 0.6s ease-in-out; }

.nav-active .logo a {
  background-position: 0 -43px; }

.screen .content-active {
  opacity: 0; }

.screen .screen-fade {
  background-color: rgba(0, 0, 0, 0.4); }

.screen .screen-fade .content-active {
  opacity: 1; }

.nav-open {
  background: #ef4135; }

.nav-open .logo {
  display: block; }

.logo {
  padding-top: 1px; }

/*.work-filters {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: $C-White;
  z-index: 1;
}*/
.nav-container {
  opacity: 1;
  position: fixed;
  float: none;
  width: 100%;
  z-index: 101;
  background: #ef4135;
  -moz-transition: background 0.6s linear;
  -webkit-transition: background 0.6s linear;
  -o-transition: background 0.6s linear;
  transition: background 0.6s linear; }

.nav-active .nav-container {
  background: #000; }

.navigation-primary {
  float: right;
  height: 60px;
  overflow: hidden; }

.navigation-primary ul {
  margin: 0; }

.navigation-primary li {
  float: left;
  padding: 0;
  border-bottom: none; }

.navigation-primary li.active a {
  background-color: #f4675e; }

.navigation-primary li a {
  padding: 18px 15px;
  color: #ffeeee;
  -moz-transition: color 0.6s linear;
  -webkit-transition: color 0.6s linear;
  -o-transition: color 0.6s linear;
  transition: color 0.6s linear; }

.nav-active .navigation-primary li a {
  color: #cccccc; }

.navigation-primary li.active a:before {
  content: none;
  border: none; }

.nav-active .navigation-primary li.active a {
  background-color: #ef4135;
  color: #ffeeee; }

.nav-indicator {
  display: none; }

.social-links {
  display: none; }

.mega-footer .social-links ul {
  display: inline;
  text-align: left; }
  .mega-footer .social-links ul li:first-child {
    margin-left: 0; }

.mega-footer .partners .sitecore,
.footer .partners .sitecore {
  background-position: 0px 0; }

.mega-footer .partners .umbraco,
.footer .partners .umbraco {
  background-position: -145px 0; }

.mega-footer .partners .telligent,
.footer .partners .telligent {
  background-position: -290px 0; }

.call {
  display: none; }

.screen .screen-inner {
  min-height: 768px; }

.screen .content-panel {
  width: 50%;
  margin: 0 25%;
  background: transparent; }

.screen .content-panel .content-inner {
  padding-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  background: #000;
  background: rgba(0, 0, 0, 0.8); }

.screen .content-panel img {
  width: 140px;
  margin-bottom: 20px; }

.screen .content-panel .case-study-btn {
  color: #FFF;
  font-size: 0.875em;
  background: #ef4135;
  padding: 15px 16px 14px;
  display: inline-block;
  border: none;
  font-family: 'ProximaNova-Light' Arial, sans-serif;
  font-weight: normal; }

.flex-control-nav {
  bottom: 100px; }

.brand-logos {
  display: block; }

.newsletter-link,
.job-alerts-link {
  display: block;
  float: right;
  padding: 32px 30px 33px 60px;
  width: 245px; }

.newsletter-link .close-btn-wrapper {
  top: 20px; }

.newsletter, .job-alerts {
  display: block;
  top: 83px; }

.newsletter .inner {
  margin: 30px; }

.blog-intro .social-links {
  margin-top: 10px; }

.blog-intro .inner {
  padding: 5% 2%; }

.blog-filters .grid-2 {
  width: 100%; }

.blog-filters .grid-container {
  margin-bottom: 0; }

.homepage .blog-title .blog-link {
  position: static;
  float: right;
  width: auto;
  padding: 0;
  border: 0;
  margin: 16px 30px 0; }

/* blog article detail */
.blog-article .grid-2 {
  width: 25%;
  border-right: none;
  position: relative; }

.blog-article .grid-4 {
  width: 75%;
  float: right;
  border-right: none;
  border-left: 1px solid #ececec; }

.blog-article .article {
  position: relative;
  z-index: 10;
  padding: 60px;
  margin-bottom: 0; }

.blog-article .article header {
  text-align: left; }

.blog-article .close-article-btn {
  right: 0;
  position: absolute;
  z-index: 100; }

.blog-article aside {
  padding: 30px; }

.blog-article .grid-2:before,
.blog-article .grid-2:after {
  border: solid transparent;
  content: ' ';
  height: 0;
  right: 0;
  position: absolute;
  width: 0;
  z-index: 1; }

.blog-article .grid-2:before {
  border-width: 20px;
  border-left-color: #ececec;
  top: 100px;
  right: -41px; }

.blog-article .grid-2:after {
  border-width: 20px;
  border-left-color: #f6f6f6;
  top: 100px;
  right: -39px; }

.mobile-article {
  top: 51px; }

.mobile-close {
  top: 45%; }

.filter-content {
  float: left;
  padding: 30px 0; }

.filter-content li {
  padding-left: 62px; }

.filter-label {
  padding: 0 30px; }

.grid-title h2 {
  padding: 30px; }

/* generic article body copy and title */
.article {
  padding: 60px; }

.article header {
  border-bottom: none;
  padding: 0 20px;
  margin-bottom: 30px;
  text-align: center; }

.article .title {
  display: block; }

.intro .article {
  padding: 60px 0;
  width: 80%;
  margin: 0 auto; }

.intro .article header {
  margin-bottom: 30px; }

.intro .article-body {
  padding: 0 20px; }

.share-links {
  background: #f6f6f6;
  position: static;
  margin: 7.2% 0 0;
  text-decoration: none; }

.share-links li {
  margin: 0 7.7%; }

.share-links li.first {
  margin: 0; }

.share-links li.last {
  margin: 0; }

.share-links li a {
  color: #cccccc;
  background: #f6f6f6;
  text-decoration: none;
  font-size: 18px; }

.share-links li .facebook {
  color: #cccccc;
  background-color: #f6f6f6;
  border: solid 1px #cccccc; }

.share-links li .twitter {
  color: #cccccc;
  background-color: #f6f6f6;
  border: solid 1px #cccccc; }

.share-links li .google {
  color: #cccccc;
  background-color: #f6f6f6;
  border: solid 1px #cccccc; }

.share-links li .mail {
  color: #cccccc;
  background-color: #f6f6f6;
  border: solid 1px #cccccc; }

.flex-direction-nav a {
  width: 120px;
  height: 120px;
  font-size: 120px;
  margin-top: -120px; }

/* sidebar compnoents */
.components {
  padding: 80px 0; }

.job-alerts-block {
  border-bottom: none; }

.team-block {
  padding: 0 60px 0 30px; }

.job-alerts-block h3, .team-block h3, .newsletter .main-title {
  font-size: 2.4em;
  letter-spacing: -2px; }

.job-application {
  padding: 20px 60px 10px 60px; }

.job-application .frow-textfield,
.job-application .frow-file {
  float: left;
  width: 50%; }

.job-application .frow-textfield {
  padding-right: 40px; }

.job-application .frow-file {
  display: block; }

.job-application .frow {
  margin: 0 0 40px; }

/* newsletter */
.newsletter {
  z-index: 100;
  padding: 0; }

.newsletter h2, .newsletter .frow-action {
  text-align: left; }

.newsletter .close-btn {
  top: 40px; }

/* services blocks */
.service-listing .service-summary {
  padding: 30px 10%;
  text-align: center; }

.service-listing .service-summary header {
  margin: 70px 0; }

.service-listing .service-summary .content {
  text-align: left;
  margin-bottom: 70px; }

.service-listing .service-summary .col {
  float: left;
  width: 50%; }

.service-listing .service-summary .content .icon {
  font-size: 160px; }

.service-listing .service-summary li {
  margin: 15px 0; }

.service-listing .service-summary .btn {
  margin-bottom: 60px; }

.client-logos {
  padding: 60px 20px 20px; }

.client-logos ul {
  margin: 0; }

.client-logos .logo-container {
  margin: 0 20px 10px; }

/* site footer */
footer {
  padding: 60px 0 0; }

.footer {
  padding: 0 30px;
  margin-bottom: 60px; }

.footer address {
  width: 45%;
  float: left; }

.footer address .col {
  margin: 0; }

.footer address .col:last-child {
  margin-left: 30px; }

.footer .footer-logos {
  width: 55%;
  float: right;
  padding: 0; }

.footer .footer-logos ul {
  float: right;
  clear: right; }

.sub-footer {
  padding: 25px 30px;
  background-size: cover; }

.sub-footer li {
  float: left;
  color: #FFF;
  padding-left: 5px;
  border-right: 1px solid #FFF; }

.sub-footer li a {
  color: #FFF; }

.sub-footer .site-links {
  float: right; }

.mega-footer {
  font-size: 0.75em;
  padding-top: 20px;
  text-align: left; }
  .mega-footer .mega-footer-top,
  .mega-footer .mega-footer-bottom {
    padding: 20px; }
  .mega-footer .mega-footer-top {
    margin: auto;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: 60%; }
  .mega-footer .copyright {
    margin-bottom: 20px; }
  .mega-footer .copyright li,
  .mega-footer .site-links li {
    float: left;
    margin: 0; }
  .mega-footer section.col {
    float: left;
    padding-right: 2%;
    margin-bottom: 40px; }
  .mega-footer section.col:last-child {
    float: left;
    padding-right: 0; }
  .mega-footer section.address,
  .mega-footer section.awards,
  .mega-footer section.social {
    width: 48%; }
  .mega-footer section.address:first-child {
    margin-top: 0; }
  .mega-footer section.address .row {
    display: block;
    margin-bottom: 20px; }
  .mega-footer .tech,
  .mega-footer .partners {
    margin-bottom: 0; }

.life-at-code {
  padding: 60px 0; }

/* Page specific styles
======================================================================== */
.homepage .intro .article {
  padding: 30px; }

/* contact 
-------------------------- */
.contact .contact-details {
  right: 0;
  top: 50%;
  margin-left: -145px;
  margin-top: -23px;
  z-index: 99;
  width: 290px;
  background: #FFF;
  text-align: center;
  position: absolute; }

.screen-map .contact-details h3 {
  margin-bottom: 0; }

.contact-details .address-line span {
  display: block; }

.contact .screen-entrance {
  display: none; }

.screen-map .scroll-container {
  display: none; }

.screen-contact .content {
  top: 20%; }

.map-screen .contact-details {
  top: 0px; }

.map-stage {
  width: 100%;
  height: 600px; }

.screen-map .maps-btn {
  display: block; }

.contact .tabs nav {
  display: block; }

.screen-entrance .map-back {
  display: block; }

.contact .screen-title strong {
  font-size: 2.5em; }

.contact-details .route-links {
  margin: 0 20px 20px;
  padding: 0; }

.contact-details .route-links li {
  margin: 0 0 12px 0; }

.contact-details .route-links li:last-child {
  margin-bottom: 0; }

.contact-details .route-links li a {
  background: none;
  color: #ef4135;
  padding: 0; }

.contact-details .route-links li a:hover {
  opacity: 0.8; }

.contact .tabs nav {
  width: 60%;
  margin: 0 auto; }

.contact .tab-navigation {
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2; }

.contact .tab-navigation li .maps-btn {
  border-bottom: 0;
  padding: 30px 0; }

.route-active .route-container {
  height: 0; }

.contact-address {
  width: 95%;
  margin: 0 auto 3em auto; }
  .contact-address .grid {
    padding-left: 10px;
    padding-left: 0.625rem; }
    .contact-address .grid.grid-2 {
      padding: 0;
      text-align: center;
      width: 33.3%; }
  .contact-address h1 {
    margin-top: 40px;
    margin-top: 2.5rem; }
  .contact-address .address-item {
    /*@include margin-top-rem(20);*/
    display: block; }
  .contact-address .details-item {
    /*@include margin-top-rem(20);*/
    text-align: left; }
    .contact-address .details-item h2 {
      display: block; }

.contact .address-tab.active {
  display: none; }

.contact .tab-navigation li .maps-btn.selected:after, .contact .tab-navigation li .maps-btn:hover:after {
  border-width: 23px;
  margin-left: -23px; }

.contact .tab-navigation li .maps-btn.selected:before, .contact .tab-navigation li .maps-btn:hover:before {
  border-width: 24px;
  margin-left: -24px; }

/* approach 
-------------------------- */
.approach-listing .content {
  margin: 0 auto;
  width: 70%;
  text-align: left;
  padding: 100px 0; }

.approach-listing .main-title {
  margin: 30px 0 60px 0; }

.approach-listing .screen-1 .content {
  width: 80%; }

.approach-listing .screen blockquote {
  letter-spacing: -1px;
  width: 82%;
  font-size: 1.7em;
  margin: 0 8% 60px 8%;
  text-indent: -.7em;
  font-family: 'Gudea', Arial, sans-serif; }

.approach-listing .screen blockquote:before,
.approach-listing .screen blockquote:after {
  font-size: 70px; }

.approach-listing .screen blockquote:after {
  bottom: -20px;
  left: .3em; }

.approach-listing .screen-2 .screen-inner {
  background-image: url(../images/content/approach/medium/light-bg.png);
  background-size: 768px 418px; }

.approach-listing .screen-3 .screen-inner {
  background-image: url(../images/content/approach/medium/approach-1.jpg); }

.approach-listing .screen-4 .screen-inner {
  background-image: url(../images/content/approach/medium/dark-bg.png);
  background-size: 768px 418px; }

.approach-listing .screen-5 .screen-inner {
  background-image: url(../images/content/approach/medium/approach-2.jpg); }

.approach-listing .screen-6 .screen-inner {
  background-image: url(../images/content/approach/medium/light-bg.png);
  background-size: 768px 418px; }

.ie .approach-listing .screen blockquote {
  text-indent: -.34em; }

.ie .approach-listing .screen blockquote:before {
  top: 20px;
  left: 0px; }

.ie .approach-listing .screen blockquote:after {
  bottom: -45px;
  left: 30px; }

.approach-listing .body-content {
  display: block !important; }

.approach-listing .column:nth-child(1),
.approach-listing .column:nth-child(2),
.approach-listing .column {
  width: 100%;
  margin: 0; }

.approach-listing .column:first-child {
  text-align: center; }

.approach-listing .column:first-child .icon {
  font-size: 160px; }

.approach-listing .read-more-btn {
  display: none; }

.approach-listing .screen-3 .screen-inner {
  background-image: url(../images/content/approach/medium/approach-1.jpg); }

.approach-listing .screen-4 .screen-inner {
  background-image: url(../images/content/approach/medium/dark-bg.png);
  background-size: 768px 418px; }

.service-listing .service-summary {
  background-image: url(../images/content/approach/medium/light-bg.png);
  background-size: 768px 418px; }

.service-listing .grid:nth-child(even) .service-summary {
  background-image: url(../images/content/approach/medium/dark-bg.png); }

.service-summary .col-last {
  padding-left: 30px; }

.service-summary .col-last p:first-child {
  margin-top: 15px; }

/* Join
  ------------------------ */
.job-detail .grid-4 .mod {
  border-right: solid 1px #ececec; }

.job-detail .grid-2 {
  width: 100%; }

.job-detail .article {
  padding: 60px; }

.job-detail .article header {
  text-align: left;
  width: 70%; }

.article-thumb .content {
  height: 270px; }

/* Work 
-------------------------- */
.related-work .main-title {
  text-align: center;
  margin: 60px 0; }

/* case studies
-------------------------- */
.cs-article {
  padding: 60px 0; }

.cs-article h2 {
  font-size: 3.5em;
  margin-bottom: 40px; }

.cs-article h3 {
  font-size: 2.5em;
  letter-spacing: -2px;
  margin-bottom: 20px; }

.cs-article .intro {
  font-size: 1.275em;
  margin: 0 100px 60px;
  text-align: center; }

.cs-article header {
  text-align: center; }

.cs-hero {
  padding: 0; }

.cs-hero header {
  width: 70%;
  padding: 60px 0;
  margin: 0 auto; }

.cs-hero h1 {
  font-size: 3.5em; }

.cs-article-body {
  padding: 0 60px; }

.cs-article .col {
  float: left;
  width: 45%; }

.cs-article-body .col-3 .col {
  float: none;
  width: 33.3333%; }

.cs-article-body .col-inner {
  margin: 0 30px; }

.cs-article-body .col-left {
  margin-right: 5%; }

.cs-article-body .col-right {
  margin-left: 5%; }

.cs-article-body .panels .col {
  float: none;
  width: 50%;
  margin-bottom: 40px; }

.cs-article-body .panels .col h3 {
  text-align: center; }

.cs-article-body .panels .col-inner {
  min-height: 327px;
  margin: 0 20px;
  padding: 30px 20px; }

.cs-carousel {
  padding: 60px 0; }

.cs-carousel .cs-article-body {
  width: 90%;
  padding: 0;
  margin: 0 auto; }

.cs-carousel .col-img {
  float: left;
  width: 60%; }

.cs-carousel .col-copy {
  float: right;
  width: 40%;
  padding: 0; }

.cs-carousel-l .flexslider {
  margin-right: 50px; }

.cs-carousel-r .flexslider {
  margin-left: 50px; }

.cs-carousel-r .col-img {
  float: right; }

.cs-carousel-r .col-copy {
  float: left; }

.cs-article-centre header {
  width: 55%;
  margin: 0 auto; }

.cs-article-centre .cs-article-body {
  width: 40%;
  margin: 0 auto;
  text-align: center; }

.article-thumb .links span {
  display: block; }

/* error page 
--------------------------- */
.error-page {
  background: transparent url(../images/global/error-bg-tablet.jpg) center top;
  background-size: 100% auto; }

.error-page .nav-container,
.error-page .navigation-primary,
.error-page .top .social-links {
  background: transparent; }

.error-page .screen .content {
  padding-top: 20%; }
/* Layout & HTML base styles
========================================== */
a:hover {
  text-decoration: underline; }

.main {
  padding-top: 72px;
  min-height: 800px;
  overflow-x: hidden; }

.top-inner {
  height: 72px; }

/* Grid 
============================================ */
.ie7 .grid {
  margin-left: -1px; }

.grid-1 {
  width: 16.666%; }

.grid-2 {
  width: 33.332%; }

.grid-3 {
  width: 49.999%; }

.grid-4 {
  width: 66.666%; }

.grid-5 {
  width: 83.334%; }

.grid-6 {
  width: 99.999%; }

.grid a {
  text-decoration: none; }

/* Components 
============================================ */
.btn, p .btn {
  padding: 20px 30px;
  font-size: 0.875em;
  -moz-transition: background-color 0.15s ease-in-out;
  -webkit-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out; }

.btn:hover,
.icon-btn:hover {
  cursor: pointer;
  text-decoration: none; }

.btn:hover {
  background-color: #000; }

.main-title {
  font-size: 3.4em;
  letter-spacing: -3px; }

.main-title span {
  display: block; }

.screen-title {
  font-size: 2em; }

.screen-title strong {
  letter-spacing: -4px; }

.article-col {
  float: left;
  width: 50%;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.logo {
  margin: 0 0 0 20px;
  padding-top: 0; }

.logo a {
  width: 210px;
  height: 72px;
  background-position: 0 26px;
  background-size: 210px; }

.nav-active .logo a {
  background-position: 0 -44px; }

.nav-active .logo {
  padding-top: 0px; }

.nav-container a {
  text-decoration: none; }

.nav-container-inner {
  float: right; }

.navigation-primary {
  float: left;
  height: 72px; }

.navigation-primary li a {
  padding: 28px 25px;
  font-size: 0.875em;
  font-weight: bold;
  -moz-transition: background-color 0.15s ease-in-out;
  -webkit-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out; }

.navigation-primary li:hover a {
  background-color: #dc372c; }

.nav-active .navigation-primary li:hover a {
  background-color: #444444; }

.social-links {
  display: block;
  float: right;
  padding: 20px 20px;
  position: static;
  margin: 0;
  background: rgba(0, 0, 0, 0.05); }

.social-links ul {
  margin: 0 auto;
  width: 126px; }

.social-links li a {
  color: #97000d;
  padding: 16px 12px;
  -moz-transition: color 0.6s linear;
  -webkit-transition: color 0.6s linear;
  -o-transition: color 0.6s linear;
  transition: color 0.6s linear; }

.nav-active .social-links li a {
  color: #cccccc;
  -moz-transition: color 0.1s linear;
  -webkit-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  transition: color 0.1s linear; }

.nav-active .social-links li .facebook:hover {
  color: #195e98; }

.nav-active .social-links li .twitter:hover {
  color: #33ccff; }

.nav-active .social-links li .google:hover {
  color: #dd4b39; }

.nav-active .social-links li .pinterest:hover {
  color: #cb2027; }

.nav-active .social-links li .mail:hover {
  color: #ef4135; }

.screen .screen-inner {
  min-height: 800px; }

.no-touch .screen .screen-inner {
  background-attachment: fixed; }

.no-touch .screen-entrance .screen-inner {
  background-attachment: scroll;
  background-size: cover; }

.screen-shadow {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0aD0iN3B4IiBoZWlnaHQ9IjdweCIgdmlld0JveD0iMCAwIDcgNyIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNyA3IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGxpbmVhckdyYWRpZW50IGlkPSJTVkdJRF8xXyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIzLjUiIHkxPSItMTA2LjA0ODgiIHgyPSIzLjUiIHkyPSItMTEzLjA2OTMiIGdyYWRpZW50VHJhbnNmb3JtPSJtYXRyaXgoLTEgMCAwIC0xIDcgLTEwNi4wNDg4KSI+Cgk8c3RvcCAgb2Zmc2V0PSIwIiBzdHlsZT0ic3RvcC1jb2xvcjojMDAwMDAwO3N0b3Atb3BhY2l0eTowIi8+Cgk8c3RvcCAgb2Zmc2V0PSIwLjc2OTQiIHN0eWxlPSJzdG9wLWNvbG9yOiMwMDAwMDAiLz4KPC9saW5lYXJHcmFkaWVudD4KPHJlY3Qgb3BhY2l0eT0iMC4xIiBmaWxsPSJ1cmwoI1NWR0lEXzFfKSIgd2lkdGg9IjciIGhlaWdodD0iNyIvPgo8L3N2Zz4=");
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0px;
  z-index: 1; }

.screen .content-panel {
  width: 40%;
  margin: 0 30%; }

.screen .content-panel .content-inner {
  padding-top: 60px;
  padding-bottom: 60px; }

.screen .content-panel img {
  width: 180px; }

.screen .content-panel .case-study-btn {
  text-decoration: none;
  position: relative;
  z-index: 20; }

.screen .content-panel .case-study-btn:hover {
  cursor: pointer;
  background-color: #dc372c;
  text-decoration: none; }

.flex-control-nav {
  bottom: 100px; }

.flex-control-nav a {
  text-decoration: none; }

.flex-direction-nav .flex-prev {
  left: -95px; }

.flex-direction-nav .flex-next {
  right: -95px; }

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1;
  text-decoration: none; }

.flexslider:hover .flex-prev {
  opacity: 0.4;
  left: 0; }

.flexslider:hover .flex-next {
  opacity: 0.4;
  right: 0; }

.ie7 .scrolling-nav {
  display: none !important; }

.blog-filters .grid-1 {
  width: 25%; }

.blog-filters .grid-2 {
  width: 33.3333%; }

.blog-filters .blog-title {
  overflow: auto;
  zoom: 1;
  border-top: none;
  padding: 0; }

.article-thumb a:hover img {
  filter: none;
  -webkit-filter: grayscale(0); }

.article-thumb a:hover,
.article-thumb a.selected {
  background: #ef4135; }

.article-thumb a:hover .image-container:before,
.article-thumb a.selected .image-container:before {
  border-bottom-color: #ef4135; }

.article-thumb a:hover h2,
.article-thumb a:hover p,
.article-thumb a:hover time,
.article-thumb a:hover .a,
.article-thumb a:hover small,
.article-thumb a:hover .links,
.article-thumb a.selected h2,
.article-thumb a.selected p,
.article-thumb a.selected time,
.article-thumb a.selected .a,
.article-thumb a.selected small,
.article-thumb a.selected .links {
  color: #FFF; }

.filter-content {
  padding: 49px 20px; }

.grid-title h2 {
  padding: 37px 35px 38px;
  font-size: 2.4em;
  letter-spacing: -3px;
  font-family: 'ProximaNova-Light', Arial, sans-serif; }

.article .article-col {
  padding: 0 30px; }

.intro .article {
  padding: 100px 0;
  width: 65%; }

.blog-article .grid-2 {
  width: 33.333%; }

.blog-article .grid-4 {
  width: 66.667%; }

.blog-article .article {
  padding: 60px; }

.blog-article .article {
  margin-right: 20%; }

.blog-article .article time {
  margin-bottom: 50px; }

.blog-article aside {
  padding: 60px; }

.share-links li a {
  font-size: 25px; }

.share-links li a:hover {
  color: #FFF; }

.share-links li .facebook:hover {
  background-color: #195e98; }

.share-links li .twitter:hover {
  background-color: #33ccff; }

.share-links li .google:hover {
  background-color: #dd4b39; }

.share-links li .mail:hover {
  background-color: #ef4135; }

.newsletter .close-btn {
  top: 80px; }

.newsletter-link,
.job-alerts-link {
  padding: 50px 40px 50px 60px;
  width: 285px; }

.newsletter-link .close-btn-wrapper {
  top: 40px; }

.newsletter-link span,
.job-alerts-link span {
  margin-top: 18px; }

.newsletter-link .close-btn-active {
  right: 0; }

.newsletter, .job-alerts {
  width: 285px;
  top: 118px; }

.job-application {
  display: block; }

.components {
  padding: 0; }

.team-block, .job-alerts-block {
  float: none;
  width: auto; }

.team-block {
  padding: 0; }

.team-block h3 {
  font-size: 2.4em;
  letter-spacing: -3px; }

.team-block h3, .team-block p {
  padding: 0 12%; }

.life-at-code {
  padding: 100px 0; }

.client-logos {
  padding: 60px 30px 40px; }

.client-logos header {
  margin-bottom: 20px; }

.client-logos ul {
  margin: 0; }

.client-logos .logo-container {
  margin: 0 30px 0; }

footer {
  padding: 0; }

.footer {
  padding: 60px;
  margin: 0;
  font-size: 0.875em; }

.mega-footer .footer-logos {
  width: auto; }

.mega-footer .partners, .mega-footer .footer .tech,
.footer .partners,
.footer .footer .tech {
  width: auto; }

.mega-footer .partners li a,
.mega-footer .tech li a,
.footer-logos .partners li a,
.footer-logos .tech li a {
  background-size: 633px 30px; }
.mega-footer .partners li a,
.footer-logos .partners li a {
  width: 128px; }
.mega-footer .tech li a,
.footer-logos .tech li a {
  width: 50px; }
.mega-footer .partners .sitecore,
.footer-logos .partners .sitecore {
  background-position: 18px 0; }
.mega-footer .partners .umbraco,
.footer-logos .partners .umbraco {
  background-position: -122px 0; }
.mega-footer .partners .telligent,
.footer-logos .partners .telligent {
  background-position: -269px 0; }
.mega-footer .tech .ios,
.footer-logos .tech .ios {
  background-position: -433px 0;
  width: 65px; }
.mega-footer .tech .android,
.footer-logos .tech .android {
  background-position: -517px 0; }
.mega-footer .tech .windows,
.footer-logos .tech .windows {
  background-position: -583px 0; }

.sub-footer {
  padding: 10px 60px 80px 60px; }

.sub-footer li {
  font-size: 0.875em; }

.mega-footer {
  font-size: 1em;
  padding-top: 60px; }
  .mega-footer .mega-footer-top,
  .mega-footer .mega-footer-bottom {
    padding: 0 56px;
    text-align: left;
    width: auto; }
  .mega-footer .mega-footer-bottom {
    padding-bottom: 80px;
    padding-top: 45px; }
    .mega-footer .mega-footer-bottom .links {
      float: left; }
    .mega-footer .mega-footer-bottom .footer-logos {
      float: right; }
      .mega-footer .mega-footer-bottom .footer-logos ul {
        clear: right;
        float: right; }
      .mega-footer .mega-footer-bottom .footer-logos li {
        float: left; }
  .mega-footer .footer-col-wrapper {
    width: 50%; }
    .mega-footer .footer-col-wrapper.footer-col-wrapper__right {
      box-sizing: border-box;
      float: right;
      padding-left: 10%; }
      @media only screen and (min-width: 1400px) {
        .mega-footer .footer-col-wrapper.footer-col-wrapper__right {
          padding-left: 20%; } }
    .mega-footer .footer-col-wrapper section.address {
      padding: 0;
      width: 50%; }
    .mega-footer .footer-col-wrapper section.awards {
      width: auto; }
    .mega-footer .footer-col-wrapper section.social {
      float: right;
      width: auto; }

@media only screen and (max-width: 1150px) {
  .mega-footer .links {
    max-width: 510px; }

  .mega-footer .copyright li {
    border-right-width: 0; }
  .mega-footer .copyright li:first-child {
    border-right-width: 1px; }
  .mega-footer .copyright li:last-child {
    padding-left: 0; } }
/* Page specific styles
======================================================================== */
/* home 
-------------------------- */
.homepage .intro .main-title {
  font-size: 2.4em;
  letter-spacing: -3px;
  text-align: left;
  padding-top: 6px; }

.homepage .intro .article {
  padding: 30px;
  margin: 0;
  width: auto; }

.homepage .intro .article header {
  margin-bottom: 28px; }

.homepage .intro .article .article-body {
  padding-right: 30px; }

.homepage .grid-title h2 {
  padding-left: 0; }

.homepage .newspaper {
  column-count: 1;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-gap: 0px;
  -webkit-column-gap: 0px;
  -moz-column-gap: 0px; }

.homepage .filter-content .social-links {
  display: none; }

.homepage .blog-filters .grid-1:first-child {
  border-left: 1px solid #ececec; }

.homepage .blog-title .grid-title {
  padding: 30px 0; }

.homepage .blog-title .blog-link {
  position: absolute;
  bottom: 0;
  border-bottom: 1px solid #ececec;
  margin: 26px 0 0;
  padding-bottom: 30px;
  right: 0; }

.homepage .blog-title .blog-link .btn {
  background: none;
  color: #ef4135;
  text-transform: none;
  font-size: 1em;
  font-weight: normal;
  font-family: 'Gudea' Arial, sans-serif; }

.homepage .blog-title .blog-link .btn:hover {
  text-decoration: underline; }

/* service
-------------------------- */
.service-listing .service-wrapper {
  overflow: hidden;
  background: #f6f6f6 url(../images/content/approach/large/light-bg.png) repeat-x; }

.service-listing .service-wrapper:nth-child(even) {
  background: #2f2f2f url(../images/content/approach/large/dark-bg.png) repeat-x; }

.service-listing .service-summary {
  background: none !important;
  color: #444444; }

.service-listing .grid:nth-child(even) .service-summary .content .main-title {
  color: #444444; }

.service-listing .grid:nth-child(even) .service-summary .content p,
.service-listing .grid:nth-child(even) .service-summary .content li,
.service-listing .grid:nth-child(even) .service-summary .content .icon {
  color: #444444; }

.service-listing .service-wrapper:nth-child(even) .service-summary .content .main-title {
  color: #FFF; }

.service-listing .service-wrapper:nth-child(even) .service-summary .content p,
.service-listing .service-wrapper:nth-child(even) .service-summary .content li,
.service-listing .service-wrapper:nth-child(even) .service-summary .content .icon {
  color: #FFF; }

.service-listing .grid:nth-child(odd) .service-summary .scroll-container {
  display: none; }

.service-listing .grid:nth-child(even) .service-summary .scroll-container {
  text-align: left; }

.service-summary .main-title .icon {
  font-size: 200px;
  line-height: 1; }

.service-summary .main-title {
  margin: 20px 0 50px;
  font-size: 3.4em;
  line-height: 1; }

.service-summary .content {
  margin-bottom: 60px; }

.service-summary .col li {
  font-weight: bold; }

/* approach
--------------------------- */
.approach-listing .main-title {
  font-size: 3.4em;
  line-height: 1; }

.approach-listing .content {
  padding: 190px 0;
  width: 80%;
  margin: 0 10%;
  text-align: left; }

.approach-listing .screen blockquote {
  width: 70%;
  font-size: 1.8em;
  margin: 0 0 60px;
  text-align: left; }

.approach-listing .screen blockquote:before,
.approach-listing .screen blockquote:after {
  font-size: 90px; }

.approach-listing .screen blockquote:after {
  bottom: -30px;
  left: 60px; }

.ie .approach-listing .screen blockquote:after {
  bottom: -60px;
  left: 30px; }

/* ie 10 */
.ie10 .approach-listing .screen blockquote:before {
  top: 20px;
  left: 20px; }

.ie10 .approach-listing .screen blockquote:after {
  bottom: -60px;
  left: 70px; }

.approach-listing .screen-2 .screen-inner {
  background-attachment: scroll;
  background-image: url(../images/content/approach/large/light-bg.png);
  background-size: auto auto; }

.approach-listing .screen-3 .screen-inner {
  background-attachment: fixed;
  background-size: cover;
  background-image: url(../images/content/approach/large/approach-1.jpg); }

.approach-listing .screen-4 .screen-inner {
  background-attachment: scroll;
  background-image: url(../images/content/approach/large/dark-bg.png);
  background-size: auto auto; }

.approach-listing .screen-5 .screen-inner {
  background-attachment: fixed;
  background-size: cover;
  background-image: url(../images/content/approach/large/approach-2.jpg); }

.approach-listing .screen-6 .screen-inner {
  background-attachment: scroll;
  background-image: url(../images/content/approach/large/light-bg.png);
  background-size: auto auto; }

.approach-listing .column {
  display: inline;
  float: left; }

.approach-listing .column:nth-child(1) {
  width: 33.01%;
  margin-right: 5.66%;
  text-align: center; }

.approach-listing .column:nth-child(2) {
  width: 61.32%; }

.approach-listing .column:first-child .icon {
  font-size: 200px; }

.approach-listing .screen-3 .column,
.approach-listing .screen-5 .column {
  float: right; }

.approach-listing .screen-3 .column:nth-child(1),
.approach-listing .screen-5 .column:nth-child(1) {
  margin-right: 0;
  margin-left: 5.66%; }

/* Work 
  ------------------------- */
.work-filters {
  bottom: 0;
  width: 100%;
  background: #FFF;
  z-index: 1; }

.work-filters .filter-content {
  padding: 0; }

.work-filters .filter-content ul {
  margin: 14px 0;
  overflow: hidden;
  list-style: none;
  text-align: center; }

.work-filters .filter-content li {
  display: inline-block;
  margin: 12px 20px;
  padding-left: 0;
  font-size: 0.875em; }

.work-filters .filter-content li a {
  padding-right: 0; }

.work-filters .filter-content li a:before {
  content: none; }

.work-filters .filter-content li a.active {
  color: #000; }

.work-filters .filter-content li a.active:hover {
  text-decoration: none; }

.related-work .main-title {
  text-align: center;
  margin: 100px 0; }

/* Join
--------------------------- */
.job-detail .grid-2 {
  width: 33.3333%; }

.job-detail .article {
  border-right: solid 1px #ececec;
  padding-right: 120px; }

.job-detail .job-alerts-block .frow-action {
  margin-top: 8px; }

/* Contact 
--------------------------- */
.contact .contact-details {
  font-size: 1em;
  margin-top: -28px; }

.contact .screen .screen-inner {
  min-height: 0; }

/* case studies
--------------------------- */
.cs-article {
  padding: 100px 0; }

.case-study .cs-article:last-of-type {
  padding-bottom: 100px; }

.cs-article h2 {
  font-size: 4.5em;
  letter-spacing: -3px; }

.cs-article h3 {
  font-size: 2.4em;
  letter-spacing: -3px;
  margin-bottom: 40px; }

.cs-article .intro {
  font-size: 1.875em;
  margin: 0 120px 60px; }

.cs-article-body .panels .col p, .cs-article-body .panels .col h3 {
  color: #444444; }

.cs-hero {
  padding: 0; }

.cs-hero header {
  width: 50%;
  padding: 100px 0;
  margin: 0 auto; }

.cs-hero h1 {
  font-size: 4.5em;
  line-height: 1.05; }

.cs-hero .intro {
  margin: 0;
  line-height: 1.25; }

.cs-article-body {
  width: 80%;
  margin: 0 auto;
  padding: 0; }

.cs-article-body .col-inner {
  margin: 0 25px; }

.cs-article-body .panels .col {
  width: 25%; }

.cs-article-body .panels .col-inner {
  min-height: 464px; }

.cs-carousel .col-img {
  width: 70%; }

.cs-carousel .col-copy {
  width: 30%; }

.cs-carousel-l .flexslider {
  margin-right: 100px; }

.cs-carousel-r .flexslider {
  margin-left: 100px; }

.cs-video-wrapper iframe {
  width: 60%;
  height: 59%;
  margin: 12% 20%; }

.article-thumb .links span {
  display: block; }

/* error page 
--------------------------- */
.error-page {
  background: transparent url(../images/global/error-bg.jpg) center top no-repeat;
  background-size: 100% auto; }

.error-page .screen .content {
  padding-top: 0; }

.resize-loader {
  background: #FFF;
  z-index: 1000; }

/* Breakpoint D */
@media only screen and (min-width: 1260px) {
  .approach-listing .content {
    margin-left: auto;
    margin-right: auto;
    width: 1060px; }

  .intro .article-body.seeking-section {
    margin: 0 auto;
    width: 65%; }

  .share-links li a {
    font-size: 35px; }

  .contact-address {
    width: 60%;
    margin: 0 auto 115px auto; }
    .contact-address h1 {
      margin-top: 70px;
      margin-top: 4.375rem;
      margin-right: 0px;
      margin-right: 0rem;
      margin-bottom: 60px;
      margin-bottom: 3.75rem;
      margin-left: 0px;
      margin-left: 0rem; } }