//color table

.color-table {
  width: 90%;
  margin: 20px auto;
}

.color-table__table {
  width: 100%;
  text-align: left;
  border-bottom: 50px solid rgba(0,0,0, .4);
}
.color-table thead tr:nth-child(odd) {
  background-color: rgba(0,0,0, .4);
}
.color-table tr:nth-child(even) {
  background-color: rgba(0,0,0, .2);
}

.color-table__heading, .color-table__td {
  padding: 20px;
}
